.calendar-app {
  #calandar-header {
    padding: 15px 20px;
      background-color: $primaryColor; color: #fff;
      #header1 {
        padding: 10px .6em 20px;

        #month {
          float: left;
          font-size: 2.8em; line-height: 1.1;
        }

        #month-right-div {
          float: left; line-height: 1.6;
          margin-left: 12px;
        }
      }
      #header2{ clear: both;
        ul {
          list-style: none; margin: 0; padding: 0; font-size: 1.2em;
          display: flex; justify-content: space-between;
          li {
            flex: 0 0 2em;
            color: #fff; text-align: center;
          }
        }
      }
  }
  #calandar-body {
    font-size: 1.2em; color: $font-color;

    .row {
      margin: 15px 20px;
      display: flex; justify-content: space-between;

      .cell {
        position: relative; flex: 0 0 2em;
        width: 2em; height: 2em; line-height: 2.1;
        text-align: center; border-radius: 50%;
        transition: .2s;

        &:hover {
          cursor: pointer;
          background: $bg-color-light;
        }
      }

      .cell-not-this-month {
        color: lighten($font-color-light, 30) ;
      }

      .today {
        background: $primaryColor; color: #fff;

        &:hover {
          background: $primaryColor;
          box-shadow: $primaryColor 0 0 0 2px;
        }
      }
    }
  }

  #calandar-footer {
    position: absolute;
    right: 15px;
    bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      position: relative;
      width: 44px; height: 44px; border-radius: 50%;
      text-align: center;
      cursor: pointer; transition: .2s;

      &::before{
        content: '';position: absolute; top: 50%; margin-top: -9px;;
        width: 18px; height: 18px;box-sizing: border-box;
        border: 3px solid $primaryColor;
        transform: rotate(-45deg)
      }
      &::after{
        position: absolute; top: -1em;
        font-size: 12px; text-align: center;
        width: 3.5em; opacity: 0; transition: .2s;
      }

      &:hover{background: $bg-color-light;
        &::after{ opacity: 1; top: -1.5em;}
      }
    }

    #pre-month {
      &::before{
        left: 16px;
        border-right: none; border-bottom: none;
      }

      &::after{
        content: '上個月'; left: 0; 
      }
    }

    #next-month {
      &::before{
        right: 16px;
        border-left: none; border-top: none;
      }
      
      &::after{
        content: '下個月'; right: 0;
      }     
    }

    #go-to-today {
      p {
        margin: 0 5px; padding: 0 .7em;
        text-align: center; font-size: 1.2em;
        height: 1.8em; line-height: 1.85;
        color: $primaryColor; border-radius: 2em;
        cursor: pointer; transition: .2s;
        &:hover {
          background: $primaryColor;  color: #fff;
        }
      }

    }
  }
}
