$primaryColor: #B488CF; //主色
$primGdC: #E5D2F4; //主色漸層二色
$secondaryColor: #644799; //輔色
$lightColor: #FFCA3E; //點綴
$linkColor: #341a6f; //連結
$linkColor2: #1e0065; // footer 用
$importantColor: #d11; //重要

$myInfo_em: #FFCA3E; //個人訊息em用
$myInfo_time: #5C5175; //個人訊息time用

$font-color: #666;
$font-color-light:#817c82;
$font-color-dark:#000;

$bg-color:#f5f0f9;
// $bg-color-pale: #fbf8fd;
$bg-color-pale: #fff0e4;
$bg-color-light:#c5b9c9;
$bg-color-dark:#b7a2bf;
$bg_notice: #fcdfcd; //便利貼底色
$bgCalandar: $primaryColor; // 小月曆頭


$border-color: #bbb;
$border-color-light: #e3e3e3;
$border-color-dark:#777;

$btn-bg1:$primaryColor;
$btn-bg2: lighten($secondaryColor, 12);

$gray: #dfdae0;
$grayDark: #8a858a;


// 最上方導覽區
%topBarStyle{
  background-color: $primGdC; color: #333; font-weight: bold;
  a {color: #333;}
}


// 主選單
%menuStyle{
  background-color: $primaryColor;
  background-image: linear-gradient( $primGdC -20%,  $primaryColor 70%);
  font-weight: bold;
  li a{color: #000;
    &:hover{ background-color: $secondaryColor; color: #fff;}
  }
  li.hasChild a{
    &::before{border-color: $secondaryColor;}
    &:hover::before{border-color: $lightColor;}
  }
  &>ul>li{
    border-bottom-color: #fff6;
    ul{
      background-image: linear-gradient( $primGdC 0%, $primaryColor 100%); // 下層選單背景色
      li{border-bottom-color: #fff6;}
    }
  }
}

// 共用查詢區
.topSearch{
  input[type="button"]{ background-image: url(../images/icon_searchB.png);}
}

// 跑馬燈
%marqueeStyle{
  background-color: $primGdC;
  a{color: #000;
    &:hover{background-color: $primaryColor; color: #fff; }
  }
  button{
    background-color: $primaryColor;
    &:hover{background-color: $secondaryColor}
    &::before{ color: $secondaryColor;}
  }
}

.footer{
  color: #000 !important;
  a{  color: $linkColor2;}
  // .footerLink{
  //   li{
  //     a{ color: $linkColor2;
  //       &:hover{color:$linkColor2;}
  //     }
  //   }
  // }
}



// -----------------------------------

%gradient-1{
  background:#AE8FF0 linear-gradient(180deg, #AE8FF0 0%, #7849DB 100%);
}
%gradient-2{
  background: linear-gradient(180deg, #E388BA 0%, #9347AD 100%);
}
%gradient-3{
  background: linear-gradient(180deg, #7FD5F0 0%, #1CBA9D 100%);
}
%gradient-4{
  background: linear-gradient(180deg, #F3D158 0%, #DEB111 100%);
}
%gradient-5{
  background: linear-gradient(180deg, #FF8989 0%, #DE3860 100%);
}