$primaryColor: #69BBAB; //主色
$secondaryColor: #66bd00; //輔色
$lightColor: #FF603E; //點綴
$lightColor2: #ffec17; //點綴
$linkColor: #0381a4; //連結
$importantColor: #ff3e4d; //重要
$red:#d11;

// 主色漸層
$gradient-p0: $primaryColor;
$gradient-p1:#73C8BA;
$gradient-p2:#bbf2ea;

$font-color: #666;
$font-color-light:#7b8383;
$font-color-dark:#000;

$bg-color:#dde5e8;
$bg-color-pale: #eaf6f4;
$bg-color-light:#dce7e8;
$bg-color-dark:#909ea2;

$border-color: #afbabb;
$border-color-light: #d7dfdd;
$border-color-dark:#778b8e;

$btn-bg1:#69BBAB;
$btn-bg2:#459383;

$menu-bg2: #edf9fb;
