$primaryColor: #FFBDA7; //主色
$secondaryColor: #AF340B; //輔色
$lightColor: #FFCA3E; //點綴
$linkColor: #7b041a; //連結
$linkColor2: $linkColor; // footer 用
$importantColor: #d11; //重要

$myInfo_em: #FFCA3E; //個人訊息em用
$myInfo_time: #5C5175; //個人訊息time用


$font-color: #555;
$font-color-light:#888;
$font-color-dark:#000;


$bg-color:#FFF5F2;
$bg-color-pale: #fff8ee;
$bg-color-light:#dfd8d4;
$bg-color-dark:#a5947b;
$bg_notice: #ffeac5; //便利貼底色
$bgCalandar:$secondaryColor; //小月曆

$border-color: #bbb;
$border-color-light: #e3e3e3;
$border-color-dark:#94908c;

$btn-bg1:#AF340B;
$btn-bg2: #e65321;

$gray: #dfdddb;
$grayDark: #807d7b;


// 最上方導覽區
%topBarStyle{
  background-color: $primaryColor; color: darken($font-color, 20%);
  a {color: darken($font-color, 20%);}
}


// 主選單
%menuStyle{
  background-color: $primaryColor;
  // font-weight: bold;
  li a{color: darken($font-color, 20%);
    &:hover{ background-color: $secondaryColor; color: #fff;}
  }
  li.hasChild{
    a::before{border-color: $secondaryColor;}
    a:hover::before{border-color: #fff}
  }
  &>ul>li{
    border-bottom-color: rgba(255,255,255, .45);
    ul{
      background-color: $primaryColor; // 下層單背景色
      li{border-bottom-color: rgba(255,255,255, .45);}
    }
  }
}

// 共用查詢區
.topSearch{
  input[type="button"]{ background-image: url(../images/icon_searchC.png);}
}


// 便利貼
// .notice{
//   .blockHeader.deco::after{ background-color: darken($bg_notice, 15);}
// }

// // 條列訊息 20220106
// .bulletin2{
//   .simuTable li.header{color: $font-color-dark !important}
// }
.footer{
  color: $font-color !important;
}


// -----------------------------------
// 20220106 快速連結文字底色
$txt1bgc-1:#D34111;
$txt1bgc-2:#D34111;
$txt1bgc-3:#D96612;
$txt1bgc-4:#E29A2C;
$txt1bgc-5:#FB8746;
$txt1bgc-6:#EC9E56;
