$primaryColor: #07847C; //主色
$secondaryColor: #FCA824; //輔色
$lightColor: #FCA824; //點綴
$linkColor: #0381a4; //連結
$importantColor: #d11; //重要

%topBarStyle{
  background-color: $primaryColor; color: #fff;
  a {color: #fff;}
}

// 主色漸層
// $gradient-p0: $primaryColor;
// $gradient-p1:#73C8BA;
// $gradient-p2:#bbf2ea;
%menubg{
  background-image: linear-gradient( #1F9D8C 0%, #07847C 45%);
  li a{color: #fff;}

}

$font-color: #666;
$font-color-light:#7b8383;
$font-color-dark:#000;

$bg-color:#dff9f4;
$bg-color-pale: #eaf6f4;
$bg-color-light:#dce7e8;
$bg-color-dark:#909ea2;

$border-color: #afbabb;
$border-color-light: #d7dfdd;
$border-color-dark:#778b8e;

$btn-bg1:#69BBAB;
$btn-bg2: $primaryColor;


.topSearch{
  input[type="button"]{ background-image: url(../images/icon_searchA.png);}
}