.courtsList{  
  // position: absolute !important;
  left: 0; top: 0; right: 0; bottom: 0;
  // height: 100%;
  // min-height: 100vh;
  padding: 40px 3vw 60px;
  overflow-y: auto;
  background: #222e; box-shadow: none;
  h2{
    font-size: 1.9rem; text-align: left; margin: 0; padding: 0 0 .2em; 
    border-bottom: 1px solid #777; color: #fff; letter-spacing: 3px;
  }
  ul, li{list-style: none; margin: 0; padding: 0;}
  &>ul{ margin: 0 auto; color: #ddd;}
  &>ul>li{ 
    font-size: 1.5em; margin-top: 1.8em; text-indent: 5px; color: $lightColor;
    a{
      color: #fff; text-decoration: none;
    }
    &>ul{
      display: flex; flex-flow: row wrap; font-size: 1.1rem; margin-top: .5em;
      &>li{
        flex:0 1 calc(25% - 24px); margin: 2px 16px 1em;text-indent: 0;
        &:nth-child(4n+1){margin-left: 0;}
        &:nth-child(4n){margin-right: 0;}
          &>a{
            position: relative; display: block; padding: 5px 0 5px 24px;
            border-bottom: 1px dashed #666; transition: .15s;
            &::before{ 
              content: ''; position: absolute; left: 8px; top: 11px; 
              box-sizing: content-box; width: 0; height: 0;
              border-style: solid; border-width: 6px 0 6px 8px;
              border-color: transparent transparent transparent $lightColor;
            }
            &:hover{border-bottom-style: solid; border-bottom-color: #eee;}
          }
      }
    }
  }


  .closeThis{
    position: fixed; right:3vw;
    a{
      background-color: #5558;
        &:hover{background-color: #555;}
    }
  }
}