.cp{
  .published{
    font-size: .98rem; line-height: 1.1;
    margin:0 0 .7em; padding: 0; color: $font-color-light;
    li{ display: inline-block; 
      &+li{margin-left: 1.5em;}
      em, time{display: inline-block; font-style: normal; color: $font-color;}
    }
  }
  article ~ .published{margin-top: 30px; margin-bottom: 0;}
  &>article{
    overflow: hidden; line-height: 1.8;
    padding: .8em 0 2em; text-align: justify;
    .image{
      float: left; margin: .5em 25px .5em 0;
      img{ max-width: 40vw; max-height: 40vw;}
    }
    p{ margin: 0 0 1.2em; line-height: inherit;}
    * + p {margin-top: 1.2em;}
    ul, ol{ line-height: inherit; margin-bottom: 1.8em;}
    li + li{margin-top: .6em;}


    table.MsoNormalTable , &>table{
      margin-left: 5px; margin-right: 5px;
      max-width:calc(100% - 15px);
    }

  }
  .articleHeader{
    margin: 0 0 1em;
    font-size: 1.2em; color: $font-color-dark; line-height: 1.5;
    h3{ font-size: inherit; margin: 0;}
  }

  .related{
    margin:0; padding: 2.8em 0 1.8em;
    border-top: 3px solid $border-color-light;

    h3{ font-size: 1.4em; margin: 0 0 .5em; font-weight: normal; color: $font-color-dark;}

    .pagesLinks, .attachments{
      margin: 0; padding: 0 0 0 2em; line-height: 1.5;
      li{ margin: 0 0 .5em;
        a{
          display: block; padding: .5em 0 .2em; text-decoration: none; 
          border-bottom: 1px dashed $border-color-light; color: $font-color;
          &:hover{border-bottom-style: solid; border-bottom-color: $border-color;}
        }
      }
    }
  }
  .smallImages{
    overflow: hidden; padding: 0;
    .enlargeThis{ 
      position: relative; 
      overflow: hidden;
      margin:5px 8px 15px;
      // width: 220px;height: 220px; 
      height: calc(20vw - 98px);
      box-shadow: $border-color-light 0 0 0 1px;
      transition: .3s; cursor: pointer;
      &:hover{
        box-shadow:$border-color-dark 0 0 0 1px;
      }
      &.slick-current{
        box-shadow:#fff  0 0 0 1px, $border-color-dark 0 0 0 4px;
      }
      img{
        display: block;
        // width: 100%; height: 100%; object-fit: contain;
        position: absolute; left: 0;top: 0;right: 0;bottom: 0;
        max-width: 100%; max-height: 100%;
        // width: 100%; height: 100%;
        margin: auto;
      }
      
      p{// 圖說文字
        position: absolute; bottom: 0; left:0; right:0; z-index: 9;
        transform: translateY(100%); transition: .2s;
        padding: 10px; margin: 0;
        background: rgba(0,0,0, .7); color: #fff; font-size: 1rem;
      }
      &:hover p{
        transform: translateY(0);
      }    
    }

    button.slick-arrow{
      position: absolute; background: rgba(0,0,0,.4);
      &::before, &::after{ background-color: #fff;}
      &:hover{background: rgba(0,0,0,.7);
        &::before, &::after{background-color: #fff;}
      }
      @extend .arrow;  top: 50%; margin-top: -48px;  border-radius: 50%; 
      &.slick-prev {left: 0;}
      &.slick-next { 
        // @extend .arrow, .right; right: 0;
        @extend .right;
        left: auto; right: 0;
      }
      &.slick-disabled{ opacity: .2 ;}
    }
  }



  // 相關圖片大圖燈箱
  .viewLargeHere{
    position: fixed; top: -30px; left: 4vw; z-index: 9100;
    padding:0; width: 92vw; height: 10px; 
    background: #fff;
    overflow: hidden;
    transition: .5s;
    &.show{
      top: 20px; height: calc(100vh - 40px); padding-top: 50px;
    }

    .closeThis{
      position: absolute; right: 4px; top: 4px;
    }
     
    .largeImages{
      .image{
        width: 90vw; height: calc(100vh - 140px); 
        position: relative;
        img{display: block; margin: 0 auto; width: 100%; height: 100%; object-fit: contain;}

        &:hover p {transform: translateY(0);}
      }
      p{
        background-color: rgba(255,255,255,.6); color: #000; margin: 0; padding: 10px 20px;
        position: absolute; bottom: 0; left: 0; right: 0; z-index: 99;
        text-align: center;
        transform: translateY(100%); transition: .2s;
      }
  
      button.slick-arrow{
        position: absolute; background: rgba(255,255,255,.5);
        @extend .arrow;  top: 50%; margin-top: -22px;  border-radius: 50%; 
        &:hover{background: rgba(255,255,255,.7);}
        &.slick-prev {left: 4px;}
        &.slick-next { @extend .right; right: 4px; left: auto;}
        &.slick-disabled{ opacity: .2 ;}
      }
    }
  }

}