html{ font-size: 15px;}
body{
  margin: 0;padding: 0; font-family:'微軟正黑體', Arial, Helvetica, sans-serif;
  color: $font-color; 
  min-width: 880px; // 此站是彈性寬度排版，但不支援此數值以下的小螢幕`-的排版
  overflow-y: scroll;

  &.noScroll{
    overflow: hidden; overflow-y:hidden;
  }
}
*{
  box-sizing: border-box;
}

////////// 排版 //////////
.center{ clear: both;
  display: flex; flex-flow: row nowrap;
  .sideBar{ 
    flex:0 0 16rem; background: $primaryColor;
    flex-basis:240px;
    min-height:calc(100vh - 170px) ;
  }
  .main{
    flex:1 1 auto; 
    width: calc(100% - #{$sideBarWidth});
    padding:15px $pdOuter*2 45px $pdOuter; 
    background: $bg-color;
    .contBox{
      font-size: 1.13rem;
      background: #fff; margin: 0 0 15px; padding: 20px $pdInner;
    }
  }
}

.footer{
  background: $primaryColor; color:#fff;
  padding: 20px 30px; text-align: center;line-height: 1.5;
  p{ margin: 0;
    &+p{margin-top: 1.5em;}
  }
  a{color: #fff;
    &:hover{ text-decoration: none; }
  }
}


// 排版用橫列 ----------------------------------------------
.row{ 
  &[class*="col"]{
    display: flex; justify-content: space-between;
    &>section{flex-grow: 0; flex-shrink: 0;}
  }

  &.col66{
    &>section{
      flex:0 0 calc(50% - 12px); width: calc(50% - 12px);
      &:first-child{ margin-right: 12px;}
      &:last-child { margin-left: 12px;}
    }
  }

  &.col84{
    &>section{
      &:first-child{
        flex-basis: calc(66% - 8px); width: calc(66% - 8px); margin-right: 12px;
      }
      &:last-child{
        flex-basis: calc(34% - 16px); width: calc(34% - 16px); margin-left: 12px;
      }
    }
  }

  &.col48{
    &>section{
      &:first-child{
        flex-basis: calc(33% - 16px); width: calc(33% - 16px); margin-right: 12px;
      }
      &:last-child{
        flex-basis: calc(67% - 8px); width: calc(67% - 8px); margin-left: 12px;
      }
    }
  }

  &.col444{
    &>section{
      &:nth-child(1), &:nth-child(2) {
        flex-basis: calc(33% - 16px); width: calc(33% - 16px); margin-right: 24px;
      }
      &:nth-child(3){flex-basis: calc(34% - 16px); width: calc(34% - 16px);
      }
    }
  }
}
