html{ font-size: 15px;}
body{
  margin: 0;padding: 0; font-family:'微軟正黑體', Arial, Helvetica, sans-serif;
  color: $font-color; 
  min-width: 880px; // 此站是彈性寬度排版，但不支援此數值以下的小螢幕排版
  overflow-y: scroll;

  &.noScroll{
    overflow: hidden; overflow-y:hidden;
  }
}
*{ box-sizing: border-box; }
a{ color: $linkColor; text-decoration: underline;
  &:hover{ text-decoration: none; }
}

////////// 排版 //////////
.center{
  clear: both;  display: flex; flex-flow: row nowrap;
  
  .sideBar{ 
    background: $primaryColor;
    flex:0 0 240px;
    min-height:calc(100vh - 206px) ;
  }
  .main{
    flex:1 1 auto; 
    width: calc(100% - #{$sideBarWidth}); min-width: 820px;
    padding:15px $pdOuter*2 45px $pdOuter; 
    background: $bg-color;
    .contBox{
      font-size: 1.13rem;
      background: #fff; margin: 0 0 15px; padding: 20px $pdInner;
    }
  }
}

.footer{
  background: $primaryColor; color:#fff;
  padding: 20px 30px; text-align: center;line-height: 1.5;
  p{ margin:.8em 0;
    &+p{margin-top: 1.5em;}
  }
  a{text-decoration: underline; color: $linkColor2;
    &:hover{ text-decoration: none;}
  }

  .footerLink{
    list-style: none; margin:.8em 0; padding: 0;
    li{
      display: inline-block; margin: 0 .5em;
      a{ display: block;}
    }
  }
}


// 排版用橫列 ----------------------------------------------
.row{ margin: 8px 0;
  &[class*="col"]{
    display: flex; justify-content: space-between;
    &>section &>.stack{flex-grow: 0; flex-shrink: 0;}
  }
  // 兩欄的第二欄 section 不要用:last-child，如果上稿只有一個section時會錯誤，改用:nth-child(2)
  &.col66{
    &>section{
      flex:0 0 calc(50% - 4px); width: calc(50% - 4px);
      &:first-child{ margin-right: 4px;}
      &:nth-child(2) { margin-left: 4px;}
    }
  }
  
  &.col48{
    &>section, .stack{
      &:first-child{
        flex-basis: calc(33% - 4px); width: calc(33% - 4px);
        margin-right: 4px;
      }
      &:nth-child(2){
        flex-basis: calc(67% - 4px); width: calc(67% - 4px); 
        margin-left: 4px;
      }
    }
  }

  &.col84{
    &>section, &>.stack{
      &:first-child{flex-basis: 66%; width: 66%;}
      &:nth-child(2){flex-basis: calc(34% - 8px); width: calc(34% - 8px); margin-left: 8px;}
    }
  }
  .stack{
    display: flex; flex-flow: column nowrap;
    &>section{ flex: 1 1 auto;}
    &>section:nth-child(2){ margin-top: 8px;}
  }


  &.col444{
    &>section{
      &:nth-child(1), &:nth-child(2) {
        flex-basis: calc(33% - 4px); width: calc(33% - 4px);
      }
      &:nth-child(1){margin-right: 4px;}
      &:nth-child(2){margin-left: 4px;}
      &:nth-child(3){flex-basis: calc(34% - 8px); width: calc(34% - 8px); margin-left: 8px;}
    }
  }

  &.col84m{
    &>section:nth-child(3){ margin-top: 20px;}
  }
}
