html{ font-size: 15px;}
body{
  margin: 0;padding: 0; font-family:'微軟正黑體', Arial, Helvetica, sans-serif;
  color: $font-color; 
  min-width: 880px; // 此站是彈性寬度排版，但不支援此數值以下的小螢幕的排版
}
*{
  box-sizing: border-box;
}

////////// 排版 //////////
.center{ clear: both;
  display: flex; flex-flow: row nowrap;
  .sideBar{ 
    flex:0 0 16rem; background: $primaryColor;
    flex-basis:240px
  }
  .main{flex:1 1 auto; padding:15px $pdOuter*2 45px $pdOuter; background: $bg-color;
    .contBox{
      font-size: 1.13rem;
      background: #fff; margin: 0 0 15px; padding: 20px $pdInner;
    }
  }
}

.footer{
  background: $primaryColor; color:#fff;
  padding: 5px 30px; text-align: center;line-height: 1.5;
  p{ margin: .8em 0;
    &+p{margin-top: 1.5em;}
  }
  a{color: #fff;
    &:hover{ text-decoration: none; }
  }
}