// 必填欄位星號
.required{text-decoration: none;color: $importantColor ;font-size: 1.3em;line-height: .6; margin-right: 3px;}
// ::selection{ background: $btn-bg1; color: #fff;}

.closeThis{
  position: absolute;
  a{
    position: relative; display: block; width: 46px; height: 46px;
    background-color: #6669;
    cursor: pointer; transition: .2s;
    &::before, &::after{
      content: ''; position: absolute; top: 50%; left: 50%;
      width: 28px; height: 2px; margin: -1px auto auto -14px;
      background: #fff;
    }
    &::before{ transform: rotate(45deg);}
    &::after{transform: rotate(135deg);}
  
    &:hover{
      background-color: #666;
    }

  }
}

.more{ text-align: center; margin: 10px auto 0;
  &>a{
    display: inline-block; height: 2.4em; line-height: 2.5; padding: 0 1.2em;
    @extend %btnGradBg; border-radius: 0;
  }
}


.arrow{
  position: relative; width: 44px; height: 44px;
  cursor: pointer;display: inline-block; transition: .2s;
  &::before, &::after{
    content: ''; position: absolute; left: 50%; top: 50%;
    width: 18px; height: 4px;margin-left: -10px; border-radius: 0 2px 2px 0;
     background-color: $border-color-dark; transition: .2s;
  }
  &::before{
    transform: rotate(-45deg); margin-top: -7px;
  }
  &::after{
    transform: rotate(45deg); margin-top: 3px;
  }
  &:hover{
    &::before, &::after{background-color: darken($border-color-dark, 15);}
  }

  &.up{ transform: rotate(90deg);}
  &.down{ transform: rotate(270deg);}
  &.right{ transform: rotate(180deg);}
  &.left{ transform: rotate(0);}

}

// 功能圖示
*[class^="icon_"]{
  display: block; text-align: center; margin: 0;
  a{
    display: block; margin: 0 auto; cursor: pointer;
    width: 44px; height: 44px; border-radius: 50%;
    background-image: url(../images/icons.png);
    background-color: $btn-bg2;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 24px;
    transition: .2s;
    &:hover{
      background-color: $btn-bg2;
      box-shadow: $btn-bg2 0 0 0 2px;
    }
  }
}
.icon_poll a{ background-position: center 10px; }
.icon_statistic a{ background-position: center -30px;}
.icon_photo a{ background-position: center -190px;}

td>*[class*="icon_"]:only-child{
  width: 100%;
}


// 功能按鈕 button 或 span>a
// <button class="btn_">XXX</button>
button[class^='btn_']{
  position: relative; display: inline-block; font-size: 1rem; 
  height: 44px; line-height: 44px; margin:3px; padding: 0 1em 0 48px; 
  background-color: $btn-bg1; color: #fff; border-radius: 22px;
  border: none; box-shadow: none;
  transition: .2s;
  &::before{
    content: ''; position: absolute; left: 2px; top: 2px;
    width: 40px; height: 40px; border-radius: 50%;
    background-image: url(../images/icons.png);
    background-color: $btn-bg2;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 24px;
    transition: .2s;
  }
  &:hover{
    background-color: $btn-bg2;
    &::before{background-color: darken($btn-bg1, 6%);}
  }
}
// <div class="btn_"><a>XXX</a></div>
*[class^='btn_']{
  display: inline-block; font-size: 1rem; margin: 0 3px;
  a{
    position: relative; display: block;
    height: 44px; line-height: 44px; padding: 0 1em 0 48px; 
    background-color: $btn-bg1;color: #fff; text-decoration: none; border-radius: 2em; 
    transition: .2s;
    &::selection{ background-color: transparent;}

    &::before{
      content: ''; position: absolute; left: 2px; top: 2px;
      width: 40px; height: 40px; border-radius: 50%;
      background-image: url(../images/icons.png);
      background-color: $btn-bg2;
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: 24px;
      transition: .2s;
    }

    &:hover{
      background-color: $btn-bg2;
      &::before{background-color: darken($btn-bg1, 6%);}
    }
  }
}
.btn_new a::before, button.btn_new::before { background-position: center -72px; }
.btn_change a::before, button.btn_change::before { background-position: center -112px; }
.btn_voice a::before, button.btn_voice::before { background-position: center -152px; }



.notes{
  padding:15px 20px; line-height: 1.6; font-size: 1rem;
  border: 1px solid $border-color-light;
  box-shadow: lighten($border-color-light, 4) 0 8px 0 -4px;
  background-color: lighten($border-color-light, 7);
  p{
    margin: 1em 0;
    &:first-child{margin-top: 0;}
    &:last-child{margin-bottom: 0;}
  }
  li{
    margin: 0;
    &+li{ margin-top: .5em;}
  }
}
.formA fieldset + .notes{ margin-left:$pdInner*-.5 ; margin-right:$pdInner*-.5;}

.formLayout + .notes{
  margin-top: 1.5em;
}