%textInput {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 6px;
  margin: 3px;
  // border-radius: 4px;
  border: 1px solid $border-color;
  vertical-align: middle;
  font-size: inherit;
  background-color: #fff;

  &:hover{border-color: $border-color-dark;}
  &:focus{border-color: $btn-bg1;box-shadow: $btn-bg1 0 0 0 1px;outline: none;}
}

%selectStyle {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 24px 0 6px;
  margin: 3px;
  border: 1px solid $border-color;
  vertical-align: middle;
  font-size: inherit;
  background: #fff url(../images/selectBg.png) no-repeat right 1em;
  background-size: 20px auto;
  box-sizing: content-box;
  
  &:hover{border-color: $border-color-dark;}
  &:focus{border-color: $btn-bg1;box-shadow: $btn-bg1 0 0 0 1px;outline: none;}

}

$disabled-color: #666;

// ------------------------------------------------------
form {margin: 0;padding: 0;}

label { display: inline-block; font-weight: normal;}

input,
textarea,
select,
button {font-size: inherit;font-family: inherit;}

// 文字、數字型態的 input
input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] { @extend %textInput; }

// 表單中，直接帶入的值
.knownValue{ @extend %textInput;  border: none; }

// 下拉選單
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  @extend %selectStyle;
}

// 按鈕樣式
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 .8em;
  margin: 3px;
  transition: .2s;
  border: 1px solid $btn-bg1;
  background-color: $btn-bg1;
  color: #fff;
  vertical-align: middle;
  box-shadow: rgba(0,0,0,.3) 0 2px 3px;
  &:hover {
    background-color: $btn-bg2;
    border-color: $btn-bg2;
    box-shadow: $btn-bg2 0 0 0 1px;
    color: #fff;
    cursor: pointer;
  }
}

textarea {
  @extend %textInput;
  resize: vertical;
  line-height: 1.6;
  height: 8em;
}

// -----------------------------------------
// disabled
select[disabled],
textarea[disabled],
textarea[disabled]:hover,
textarea[disabled]:focus,
input[disabled],
input[disabled]:hover,
input[disabled]:focus {
  background-color: $gray;
  border-color: $border-color-light;
  color: $disabled-color;
  box-shadow: none;
}


// readonly
textarea[readonly],
textarea[readonly]:hover,
textarea[readonly]:focus,
input[readonly],
input[readonly]:hover,
input[readonly]:focus {
  background-color: lighten($gray, 8);
  border-color: $border-color;
  box-shadow: none;
}

select[disabled],
input[disabled] {
  color: $font-color-light
}



/*readonly and disabled*/
button[disabled],
button.disabled,
input[type="button"][disabled],
input[type="submit"][disabled],
button[disabled]:hover,
input[type="submit"][disabled]:hover,
button[disabled]:focus,
input[type="submit"][disabled]:focus {
  background-color: #ddd;
  color: #888;
  border-radius: 4px;
  box-shadow: none;
  cursor: default;
}

fieldset {
  border: 1px solid $border-color-light;
  border-radius: 6px;
  &+fieldset {
    margin-top: 1em;
  }
  legend {
    background: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 8px;
  }
}


////////////////////////////////////
////////// 表單送出按鈕群 //////////
.btnDv{
  clear:both;text-align:center;
  margin:0 auto;padding: 1.2em 0 1.5em;
  input[type="button"], input[type="submit"], input[type="reset"], button {
    margin: 4px; min-width: 6em;
    &:hover{
       transform: translateY(3px);
    }
    &:only-child{min-width: 10em;}
  }
  input[type="button"].showLightbox{ min-width: 7.5em;}
}

////////// 日期區間 //////////
.duration{
  // outline: 1px dashed pink;
  display: flex;
  &::before{
    content: '～'; height: 2.4em; line-height: 2.7em;
    order: 1; width: 1.2em; text-align: center;
    flex: 0 0 1.2em;
  }
  input{
    flex:0 1 calc(50% - .6em); 
    // padding-right: 34px;
    // background-image: url(../images/icon_calendar.png);
    // background-repeat: no-repeat;
    // background-position:  calc(100% - 8px) .5em;
    // background-size: 18px;
    cursor: pointer;
  }
  input:last-child{ order: 2;}
}

////////// 條件查詢 //////////
.search{
  margin: 0 0 30px; padding: 1px 20px;
  box-shadow: rgba(0,0,0,.3) 0 0 4px;
  .formlayout{
    margin: 1em auto; width: 100%;
    td{
      padding: 3px 0;
      &:nth-child(even){ padding-right: 20px;}
      &:nth-child(odd){text-align: right; width: 18%; padding-right: 5px;}
      .duration{width: calc(90% + 6px);}
      &>input[type="text"]:only-child{width: 90%;}
      &>select:only-child{width: calc(90% - 32px);}
    }
  }
  .slideHeader{ padding:6px 0; }

  .btnDv{border-top: 1px solid $border-color-light; margin: 0 auto;}

  .drawer{
    .formlayout{ margin-top: 5px;}
  }
}


////////////////////////////////////
// formLayout
.formA{
  &>fieldset, &>form>fieldset {
    margin:0 $pdInner*-.5 2em;
    padding: $pdInner*.5;
    border-color: $border-color; border-radius: 0;

    legend{
      font-weight: normal; font-size: 1.2em; 
      padding: 8px .8em; line-height: 1.1;
      border: 1px solid $border-color;
      border-radius: 2em;
    }
  }
}
table.formLayout{
  margin: 0 auto; width: 100%; min-width: 700px;
  border: none; border-collapse: collapse;
  td{  vertical-align: top;
    &:nth-child(odd){text-align: right; padding: .9em 8px 6px 0; width: 20%;}
    &:nth-child(even){padding:6px 0;}
   
    textarea, .knownValue{width: 90%;}
    .duration{ width: calc(90% + 6px);}

    input.full{ width: 90%;}
    select.full{ width: calc(90% - 32px);}

    input.half{ width: 45%;}
    select.half{ width: calc(45% - 32px);}

    input.quarter{ width: 22%;}
    select.quarter{ width: calc(22% - 32px);}

  }
  p.hint, p.warning{ 
    font-size: .85em; line-height: 1.4;
    margin: .2em 3px .5em;
    em{ font-style: normal; color: $importantColor;}
  }
  p.warning{color: $importantColor;}

  & ~ .btnDv{padding: 1.5em 0; margin-top: 1.5em; border-top: 1px solid $border-color;}
}
// 註冊新帳號:系統使用權限申請
fieldset.authority{
  table.formLayout{
    td:first-child{width: 35%; padding-right: 1em;}
    tr{border-bottom: 1px solid $border-color-light;
      &:last-child{border-bottom: none;}
    }
  }
}


//  //////////////////////////////////
// 進階查詢 ----------------------------------------------
.searchBlk{
  // display: none; position: fixed; top: 80px; 
  top: 0;
  left: calc(#{$sideBarWidth} + #{$pdOuter});
  width: calc(100vw - #{$sideBarWidth} - #{$pdOuter}*3); min-width: 710px;
  padding:50px $pdInner 30px;
  background: $primaryColor; color: #fff;box-shadow: rgba(0,0,0,.4) 0 0 36px;
  transform: translateY(0); transition:transform .6s; 
  &.show{
    transform: translateY(50px);
  }
  .formLayout{
    width: 90%; 
    min-width: 400px;
    input[type="text"], input[type="date"], input[type="number"],
    select{border-color: #fff;
      &:focus{border-color: #fff; box-shadow: $secondaryColor 0 0 0 3px;}
    }

    td{
      &:nth-child(odd){text-align: left; width: 7em; white-space: nowrap;}
      &:nth-child(even) {padding-bottom: 16px;}

      &>input[type="text"]:only-child,
      &>input[type="date"]:only-child,
      &>input[type="number"]:only-child{width:98%;}
      &>select:only-child{ width: calc(98% - 2em);}

      .duration{width: calc(98% + 6px);}

    }
  }

  .btnDv{
    padding:15px 0 5px;
    input[type="button"]{width: 6em; background: #fff; color: $font-color-dark; border: none;}
  }

  .closeThis{ 
    a{
      cursor: pointer; background-color: transparent;
      &:hover{background-color: #0004}
    }
  }
}

// 調查統計 - 登入 ----------------------------------------------
.simpleLogin{
  background: #fff; 
  box-shadow: #0003 0 0 25px;
  padding: 35px 15px 10px;
  
  .formLayout{
    td:last-child{
      input[type="text"], input[type="number"], input[type="password"]{
        width: 90%;
      }
    }
  }

}
.meta + .simpleLogin{
  margin: 40px auto;
}

// 驗證碼，captcha
.captchaSet{
  display: flex;
  flex-flow: row wrap;
  input{width: 10em;}
  img{ width: 130px; margin: 0 30px 0 10px; }
}
.formLayout td .captchaSet{ width: 90%;}

.optionGroup{
  margin:0 3px;
  label{
    position: relative;
    display: inline-block; margin: 4px 1em 4px 0; padding:7px .5em 7px 1.6em;
    cursor: pointer; border-radius: 4px;
    &:hover{ color: $font-color-dark; box-shadow: $border-color-light 0 0 0 1px;}

    input[type="radio"], input[type="checkbox"]{
      position: absolute; left: 2px; top: 10px;
    }
    // input[type="text"], input[type="email"], input[type="number"]{
    //   margin-top: -7px; margin-bottom:-7px; vertical-align: middle;
    //   width: 30em;
    // }
    &:last-child {margin-right: 0;}
  }
}
.formLayout td .optionGroup{ width: 90%;}
