%textInput {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 6px;
  margin: 3px;
  // border-radius: 4px;
  border: 1px solid $border-color-light;
  vertical-align: middle;
  font-size: inherit;
  background-color: #fff;

  &:hover{border-color: $border-color-dark;}
  &:focus{border-color: $btn-bg1;box-shadow: $btn-bg1 0 0 0 1px;outline: none;}
}

%selectStyle {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 1.5em 0 6px;
  margin: 3px;
  border: 1px solid $border-color-light;
  vertical-align: middle;
  font-size: inherit;
  background: #fff url(../images/selectBg.png) no-repeat right 1em;
  background-size: 16px auto;
  box-sizing: content-box;
  
  &:hover{border-color: $border-color-dark;}
  &:focus{border-color: $btn-bg1;box-shadow: $btn-bg1 0 0 0 1px;outline: none;}

}

$disabled-color: #666;

// ------------------------------------------------------
form {margin: 0;padding: 0;}

label { display: inline-block; font-weight: normal;}

input,
textarea,
select,
button {font-size: inherit;font-family: inherit;}

// 文字、數字型態的 input
input[type="text"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] { @extend %textInput; }

// 下拉選單
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  @extend %selectStyle;
}

// 按鈕樣式
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 .8em;
  margin: 3px;
  transition: .2s;
  border: 1px solid $btn-bg1;
  background-color: $btn-bg1;
  color: #fff;
  vertical-align: middle;
  box-shadow: rgba(0,0,0,.3) 0 2px 3px;
  &:hover {
    background-color: $btn-bg2;
    border-color: $btn-bg2;
    box-shadow: $btn-bg2 0 0 0 1px;
    color: #fff;
    cursor: pointer;
  }
}

textarea {
  @extend %textInput;
  resize: vertical;
  line-height: 1.6;
  height: 10em;
}

// -----------------------------------------
// disabled
select[disabled],
textarea[disabled],
textarea[disabled]:hover,
textarea[disabled]:focus,
input[disabled],
input[disabled]:hover,
input[disabled]:focus {
  background-color: #f3f4f5;
  border-color: $border-color-pale;
  color: $disabled-color;
  box-shadow: none;
}


// readonly
textarea[readonly],
textarea[readonly]:hover,
textarea[readonly]:focus,
input[readonly],
input[readonly]:hover,
input[readonly]:focus {
  background-color: #f3f4f5;
  border-color: $border-color-light;
  box-shadow: none;
}

select[disabled],
input[disabled] {
  color: $font-color-lighter
}



/*readonly and disabled*/
button[disabled],
button.disabled,
input[type="button"][disabled],
input[type="submit"][disabled],
button[disabled]:hover,
input[type="submit"][disabled]:hover,
button[disabled]:focus,
input[type="submit"][disabled]:focus {
  background-color: #ddd;
  color: #888;
  border-radius: 4px;
  box-shadow: none;
  cursor: default;
}

fieldset {
  border: 1px solid $border-color-pale;
  border-radius: 6px;
  &+fieldset {
    margin-top: 1em;
  }
  legend {
    background: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 8px;
  }
}


////////////////////////////////////
////////// 表單送出按鈕群 //////////
.btnDv{clear:both;text-align:center;margin:0 auto;
  input[type="button"], input[type="submit"], input[type="reset"] {
    margin: 4px;
    &:hover{
      //  box-shadow: none;
       transform: translateY(3px);
    }
  }
}

////////// 日期區間 //////////
.duration{
  // outline: 1px dashed pink;
  display: flex;
  &::before{
    content: '～'; height: 2.4em; line-height: 2.7em;
    order: 1; width: 1.2em; text-align: center;
    flex: 0 0 1.2em;
  }
  input{
    flex:0 1 calc(50% - .6em)
  }
  input:last-child{ order: 2;}
}

////////// 條件查詢 //////////
.search{
  $space : 15px;
  margin: 0 0 $space*2;
  box-shadow: rgba(0,0,0,.3) 0 0 4px;
  .formlayout{
    width: calc(100% - #{$space}*2); margin: .5em auto 1em;
    td{
      padding: 3px 0;
      &:nth-child(even){ padding-right: 20px;}
      &:nth-child(odd){text-align: right; width: 18%; padding-right: 5px;}
      .duration{width: calc(90% + 6px);}
      &>input[type="text"]:only-child{width: 90%;}
    }
  }
  .slideHeader{ padding:8px $space; }

  .btnDv{border-top: 1px solid $border-color-pale; margin: 0 15px;}
}


////////////////////////////////////
// formLayout
.formA{
  // margin: 0 auto;
  background: #fff;

  outline: 1px solid red;

}
table.formLayout{
  outline: 1px dashed pink;
  margin: 0 auto;
  border: none; border-collapse: collapse;
  width: auto; min-width: 700px;
  td{ padding:6px 4px; vertical-align: top;
    &:nth-child(odd){text-align: right; padding-left: 0;}
    &:nth-child(even){padding-right: 0;}
  }

  & ~ .btnDv{padding: 1.5em 0; margin-top: 1.5em; border-top: 1px solid #000;}
}


