.playIcon{
  position: absolute; width: 48px; height: 48px;
  border-radius: 50%; background-color: rgba(0,0,0,.6);
  transition: .2s;
  &::before{
    content: ''; position: absolute; top: 15px; left: 20px;
    width: 0; height: 0; box-sizing: content-box; border-style: solid;
    border-width: 9px 0 9px 13px; border-color: transparent transparent transparent #fff;
  }
  &:hover{
    transform: scale(1.2);
  }

}


.gridList{ margin: 20px 0;
  .list{
    list-style: none; margin: 0;padding: 0;
    display: flex; flex-flow: row wrap;
    &>li{
      position: relative;flex:0 0 calc(50% - 10px); 
      margin: 0 20px 20px 0; padding: 0;
      background: #fff;
      &:nth-child(2n){margin-right: 0;}
      &:hover{z-index: 99;}
      a{
        display: block; height: 100%; padding: 0 0 10px;
        box-shadow:$border-color 0 0 0 1px;
        transition: .2s;
        text-decoration: none; color: $font-color;
        &:hover{
          box-shadow:$border-color-dark 0 0 0 1px, $border-color 0 0 30px 2px;
          .playIcon{
            transform: scale(1.2);
            background-color:rgba(0,0,0,.85) ;
          }
        }
      }
      // $sideBarWidth : 左側欄寬
      // 100% = 100vw - 80px - #{$sideBarWidth}
      .imgThumb, .vPreview{
        img{
          display: block; 
          width: 100%; height: 100%; object-fit: cover;
        }
      }
      // 影片縮圖
      .vPreview{
        position: relative;
        width: 100%; margin: 0 0 10px;
        height: calc((50vw - #{$sideBarWidth}*.5 - #{$pdInner} - #{$pdOuter}*1.5 - 10px)*.56 );
        .playIcon{
          top: 50%; left: 50%; 
          margin: -24px auto auto -24px;
        }
      }

      // 相簿縮圖
      .imgThumb{
        // outline: 1px solid red;
        position: relative;overflow: hidden;
        width: 100%; margin: 0 0 10px;
        height: calc( 50vw - #{$sideBarWidth}*.5 - #{$pdInner} - #{$pdOuter}*1.5 - 10px);
        background: #d5d8d9; border: #fff solid 3px;
        img{object-fit: contain;  transition: .4s;}
      }
      a:hover{
        .imgThumb img{transform: scale(1.1);}
      }

      // 照片張數
      .count{
        display: inline-block; height: 1.4em; line-height: 1.4;
        padding: 0 5px; border-radius: 3px; margin: 5px 10px 0;
        border: 1px solid $border-color;
        &::before{content: attr(title)"："; font-size: .85em; color: $font-color-light;}
      }

      p{ margin: 0 10px;}
    }

  }

  @media screen and (min-width: $wwNormal){
    .list>li{
      flex:0 0 calc(33.33% - 14px);
      &:nth-child(n){margin: 0 21px 21px 0;}
      &:nth-child(3n){ margin-right: 0;}
      .vPreview{
        height: calc(((100vw - #{$sideBarWidth} - #{$pdInner}*2 - #{$pdOuter}*3)/3 - 14px)*.56);
      }
      // 相簿縮圖
      .imgThumb{
        height: calc((100vw - #{$sideBarWidth} - #{$pdInner}*2 - #{$pdOuter}*3)/3 - 14px);
      }
    }
  }

  @media screen and (min-width: $wwWide+100){
    .list>li{
      flex-basis: calc(25% - 15px);
      &:nth-child(n){margin: 0 20px 20px 0;}
      &:nth-child(4n){ margin-right: 0;}
      .vPreview{
        height: calc((25vw - #{$sideBarWidth}*.25 - #{$pdInner}*.5 - #{$pdOuter}*.75 - 15px)*.56);
      }
      .imgThumb{
        height: calc(25vw - #{$sideBarWidth}*.25 - #{$pdInner}*.5 - #{$pdOuter}*.75 - 15px);
      }
    }
  }

  @media screen and (min-width: $wwMaximum+100){
    .list>li{
      flex-basis: calc(20% - 16px);
      &:nth-child(n){margin-right: 20px;}
      &:nth-child(5n){ margin-right: 0;}
      .vPreview{
        height: calc((20vw - #{$sideBarWidth}*.2 - #{$pdInner}*.4 - #{$pdOuter}*.6 - 16px)*.56);
      }
      .imgThumb{
        height: calc(20vw - #{$sideBarWidth}*.2 - #{$pdInner}*.4 - #{$pdOuter}*.6 - 16px);
      }
    }
  }
}