// 登入區 ----------------------
.loginHere{
  top: 80px;
  width: calc(100vw - #{$sideBarWidth} - #{$pdOuter}*3);
  min-width: 710px; padding:20px 40px;
  overflow: hidden; font-size: 1.2rem;
  background: #fff; box-shadow: rgba(0,0,0,.4) 0 0 36px;
  transform: translateY(0);
  transition:transform .6s; 
  &.show{
    transform: translateY(30px);
  }
  
  .blockHeader{text-align: left;}

  .closeThis{ 
    a{background: $gray;
      &:hover{background-color: $grayDark;}
    }
  }

  .viewIcon{
    display: inline-block; vertical-align: top; cursor: pointer;
    width: 42px; height: 42px; border-radius: 50%; margin: 2px;
    background:  $gray url(../images/icon_eye.png) no-repeat center center;
    background-size: 32px;
    &:hover{ background-color:  $grayDark;}
  }

  .formLayout{
    // float: left;width:calc(60% - 40px) ;
    margin:25px 20px 0; width:calc(100% - 40px) ;
    min-width: 0;
    td{
      &:nth-child(odd){ padding-top: 1em; white-space: nowrap; color: $font-color-dark;}
      input{width: calc(96% - 50px);}
      p.hint{font-size: 1rem; margin: .3em 4px;}
    }
    &~.btnDv{ margin:20px 20px 0; padding-top: 20px;}
  }


  .logLinks{
    list-style: none; padding:0 0 5px; margin:15px 0 0; text-align: right;
    li{display: inline-block; margin: 0;
      &:last-child{margin-right: -3px;}
      &+li{margin-left: 8px;}
      a {
        display: block; padding: 0 1em; width: 7em;
        height: 2em; line-height: 2em;
        box-shadow: $border-color 0 0 0 1px; background: #fff;color: $font-color; 
        text-decoration: none; text-align: center; border-radius: 4px; cursor: pointer;
        &:hover{box-shadow: $border-color-dark 0 0 0 1px; color: $font-color-dark;}


        &.slideCtrl{
          position: relative; top: 0; padding-right: 1.3em; padding-left: .7em;
          &:hover{box-shadow: $secondaryColor 0 0 0 1px; background-color: transparent;}
          &:not(.openIt){
            box-shadow: $secondaryColor 0 0 0 1px; background-color: $secondaryColor; color: #fff;
            &::before{border-color: #fff;}
            &::after{
              content: ''; position: absolute; left: -1px; right: -1px; bottom: -5px; height: 8px;
              background: $secondaryColor;
            }
          }

        }
      }
    }
  }
  

  // 登入燈箱內頁籤
  .tabs{
    &::before{
      display: none;
    }
  
    .tabItem{
       margin: 0 4px 0 0; height: auto; line-height: auto; font-size: 1.1em;
       &::before{display: none;}
      &>a{
        background-color: darken($bg-color-pale , 5) ; color: $font-color; border-radius: 8px 8px 0 0;
        height: 2.6em; line-height: 2.8; margin-top: 5px;
        transition: .2s;
        &:hover{background-color: darken($bg-color-pale , 10) ;  color: $font-color-dark;}
      }
  
      &.active{
        a{
          background-color: $primaryColor; color: #fff; cursor: default;
          height: calc(2.6em + 5px); margin-top: 0; line-height: 3;
        }
      }
    }
  
    .tabContent {
      box-shadow: $primaryColor 0 0 0 1px inset;

      &::before{
        content: ''; background-color: $primaryColor;
        position: absolute; top: 0; left: 0;right: 0; height: 5px;
      }
    }

    .notes{
      background: none; border: none; box-shadow: none; color: $importantColor; 
    }
  }

  &.lightbox{display: block;  top: -200px; height: 0; 
    &.show{ height: auto; top: 80px; max-height: calc(100vh - 120px);}
  }

  .slideToggle{
    .drawer{display: none;}
  }
}

// 忘記密碼
.fetchPassword{
  display: flex; flex-flow: row wrap; justify-content: space-between;
  padding:20px;
  box-shadow: $secondaryColor 0 0 0 1px inset;

  h3{ 
    flex: 0 0 100%; margin: 0 0 12px; padding: 0 0 5px;
    color: $font-color-dark; border-bottom: 3px solid $secondaryColor;
  }

  .formLayout{
    flex: 0 1 68%; margin: 0;
    border-right: 1px solid $border-color;
    td input{width: 90%;}
    
    &+.btnDv{
      flex: 0 1 30%;
      margin: 0; padding: 0; border: none; 
      input{width: 80%; margin:9px 0;}
    }
    
  }

  .hint{ font-size: 1rem; margin: 2em 0 0;}



}


