.menu{z-index: 99;
  // background-image: linear-gradient($gradient-p2 5%, $gradient-p1 50%, $gradient-p0 95%);
  @extend %menuStyle;
  // background-color: $primaryColor;
  ul, li{list-style: none; margin: 0; padding: 0; line-height: 1.2;}
  li{ 
    position: relative;
    a{
      display: block;text-decoration: none;
      // &:hover, &:focus{background-color: rgba(0,0,0,.2);}
      &:focus{outline: none;}
    }
    &.hasChild{
      &>a{
         position: relative;padding-right: 32px;
        &::before{
          content: ''; position: absolute; right: 12px; top: 1.05em; 
          width: 9px; height: 9px;transform: rotate(45deg);
          border-width: 3px; border-style: solid; border-left: none; border-bottom: none;
        }
      }
    }
    // li.hasChild{
    //   a::before{border-color: $lightColor;}
    // }
  }
  &>ul>li{
    font-size: 18px; border-bottom-width: 1px; border-bottom-style: solid;
    // border-bottom: 1px solid #fff4;
    &>a{
      padding:.9em 20px .8em; transition:background-color .2s;
    }
    &>ul{ left: 240px;
       li{border-bottom: 1px solid #fff4;
        &:last-child{border-bottom: none;}
      }
      a{ padding:.9em 1em .8em; transition: .15s;}
    }
  }
  ul ul{ display: none; position: absolute; left: 220px; top: 0; width: 220px;
    font-size: 1.067rem; box-shadow: rgba(0,0,0,.3) 1px 2px 12px; z-index: 99;
    //transform: translateY();
  }

}