.meta{ 
  margin: 10px 0 20px; clear: both;
  box-shadow: $border-color 0 0 0 1px;
  padding:4px 10px;
  table.data{
    margin: 0 auto; width: 100%;
    line-height: 1.5; border-collapse: collapse;
    caption{
      font-size: 1.2em; font-weight: bold;
      padding: .7em 10px .3em;
      border-bottom: 1px solid $border-color; color: $font-color-dark;
    }
    tr{border-bottom: 1px solid $border-color-light;
      &:last-child{border: none;}
    }
    th, td{padding: .6em 10px .5em;vertical-align: top;}
    th{
      padding-right: 15px;
      position: relative; 
      text-align: right; width: 12em;
      &::after{
        content: ''; position: absolute; right: 0; top: 4px; bottom: 4px;
        width: 3px; background-color: $border-color-light;
      }
    }
    td{
      text-align: left;
      &.title{ font-size: 1.2em; color: $font-color-dark;}
      &>p:first-child{ margin-top: 0;}
    }
  }

}


.videoPlay{
  background-color: #000;
  margin: 0 0 20px; padding: 0;
  iframe{
    display: block; margin: 0 auto; padding:0;
    // width: 64vw; height: 36vw;
    // width: calc(100vw - 80px - #{$sideBarWidth});
    // height: calc(56.25vw - 45px - #{$sideBarWidth}*.5625);
    width: calc(100vw - #{$sideBarWidth} - #{$pdInner}*2 - #{$pdOuter}*3 );
    height: calc( (100vw - #{$sideBarWidth} - #{$pdInner}*2 - #{$pdOuter}*3)*.5625 );
    
    // min-width: 560px; min-height: 315px;
    min-height: 315px;
  }
}