// 現在位置
.breadcrumb {
  padding: 2px 0;margin: 0 auto 3px; overflow: hidden;
  color:lighten($font-color, 10) ;
  &::before{
    float: left; content: attr(title)"："; 
  }
  ul, li{ list-style: none; margin: 0;padding: 0;}
  ul{ float: left; line-height: 1.4; overflow: hidden; }
  li{float: left; position: relative;
    &:nth-child(n+2){padding-left: 1.5em;
      &::before{
        content: '';position: absolute; left: 4px; top: 5px; 
        width: .4em; height: .4em; border: 2px solid $border-color-dark;
        transform: rotate(45deg);border-bottom: none; border-left: none;
      }
    }
    &:first-child{padding-left: 0;}
    a{display: block; color: $font-color-dark; text-decoration: none;
        &:hover{ color: $linkColor;}
    }
  }

}

.pageHeader{margin:18px 0 6px; font-size: 1.6em; color: $font-color-dark;}
.function + .pageHeader{margin-top: 0;}







// 回前一頁、友善列印
.function{ 
  // outline: 1px dashed pink; 
  overflow: hidden;
  ul, li{ list-style: none; margin: 0; padding: 0; line-height: 1;}
  ul{ float: right; overflow: hidden;}
  li{float: left; margin: 3px;
    a{
      display: block; position: relative; height: 2.6em; line-height: 2.5em;
      padding:0 1.2em 0 44px;
      @extend %btnGradBg;
    }
    &.back{
      a::before{ 
        content: '';position: absolute; left: 17px; top: 50%; margin-top: -9px;
        width: 0;height: 0;
        border-style: solid; border-width: 9px 9px 9px 0;
        border-color: transparent #fff transparent transparent;
      }
    }
    &.print{
      a::before{ content: ''; position: absolute; left: 4px; top: 2px;
        width: 36px; height: 2.4em;
        background-image: url(../images/icon_print.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 25px auto;
      }
    }
    &.goTop{ 
      position: fixed; z-index: 900;
      right: 3px; bottom: -60px;text-indent: -20em; 
      text-align: center; transition: .8s;
      &.show{bottom: 10px;transition: .4s;}
      a{ 
        padding: 0; width: 48px; height: 48px;  overflow: hidden; border-radius: 50%;
        background-color: rgba(50,50,50,.6);
        background-image: none;
        box-shadow:none;
        &::before, &::after{content: '';position: absolute;}
        &::before{
          left: 19px; top: 12px;
          width: 8px; height: 8px; transform: rotate(45deg);
          border: 2px solid #fff; border-bottom: none; border-right: none;  
        }
        &::after{content: 'TOP'; width: 48px;  left: 0; top: 13px; font-size: 11px; text-indent: 0; color: #fff;}

        &:hover{
          box-shadow:rgba(50,50,50,1) 0 0 0 3px; background-color: rgba(50,50,50,1);
        }
      }
    }
  }

}





// 開合區
.slideToggle{
  position: relative;
  .slideCtrl{
    position: absolute; right: 5px; top: 5px; 
    margin: 0; padding: 0 5px 0 26px;
    height: 2.4em; line-height: 2.4em;
    color: $font-color; background: none;
    border: none; box-shadow: none;
    transition: .2s;
    &:hover{ background: $bg-color;}
    &::before{
      content: ''; width: 8px; height: 8px; 
      position: absolute; left: 10px; top: 50%; margin-top:-2px;
      border: 2px solid #666; border-left: none; border-top: none;
      transform: rotate(225deg); transition: .5s;
    }
    &.openIt{
      &::before{
        transform: rotate(45deg); margin-top: -7px;
      }
    }
  }
  .slideHeader{
    font-size: 1.45em;
  }
  .drawer{ 
    margin: 0; padding:0;
  }

}



