// 現在位置
.breadcrumb {
  padding: 2px 0 10px;margin: 0 auto; overflow: hidden;
  font-size: .93em;color:lighten($font-color, 10) ;
  &::before{
    float: left; content: attr(title)"："; 
  }
  ul, li{ list-style: none; margin: 0;padding: 0;}
  ul{ float: left; line-height: 1.4; overflow: hidden; }
  li{float: left; position: relative;
    &:nth-child(n+2){padding-left: 1.5em;
      &::before{
        content: '';position: absolute; left: 4px; top: 5px; 
        width: .4em; height: .4em; border: 2px solid $border-color-dark;
        transform: rotate(45deg);border-bottom: none; border-left: none;
      }
    }
    &:first-child{padding-left: 0;}
    a{display: block; color: $font-color-darker; text-decoration: none;
        &:hover{ color: $linkColor;}
    }
  }

}


.closeThis{
  position: relative;width: 46px; height: 46px; cursor: pointer; transition: .2s;
  &::before, &::after{
    content: ''; position: absolute; top: 50%; left: 50%;
    width: 32px; height: 2px; margin: -1px auto auto -16px;
    background: #eee;
  }
  &::before{ transform: rotate(45deg);}
  &::after{transform: rotate(135deg);}

  &:hover{
    transform: scale(1.25);
    &::before, &::after{ background: #fff;}
  }
}


.function{ outline: 1px dashed pink; overflow: hidden;
  ul, li{ list-style: none; margin: 0; padding: 0;}
  ul{ float: right; overflow: hidden;}
  li{float: left; margin: 3px;
    a{
      display: block; position: relative; height: 40px; line-height: 40px;
      padding:0 16px 0 36px;
      background: #666; color: #fff; border-radius: 20px; text-decoration: none;
      transition: .2s;
      &:hover{ box-shadow:#666 0 0 0 3px;}
    }
    &.back{
      a::before{ 
        content: '';position: absolute; left: 16px; top: 50%; margin-top: -6px;
        width: 10px;height: 10px;transform: rotate(45deg);
         border: 2px solid #fff; border-top: none; border-right: none;
      }
    }
    &.goTop{ 
      position: fixed; right: 10px; bottom: 10px; text-indent: -20em;
      a{ 
        padding: 0; width: 40px;  overflow: hidden;
        box-shadow:rgba(50,50,50,.5) 0 0 0 3px; background-color: rgba(50,50,50,.7);
        &::before, &::after{content: '';position: absolute;}
        &::before{
          left: 12px; top: 15px;
          width: 14px; height: 14px; transform: rotate(45deg);
          border: 2px solid #fff; border-bottom: none; border-right: none;
        }
        // &::after{
        //   left: 19px; top: 16px; width: 2px; height: 12px; background: #fff;
        // }

        &:hover{
          box-shadow:rgba(50,50,50,1) 0 0 0 3px; background-color: rgba(50,50,50,1);
        }
      }
    }
  }

}

.cp ~ .function { margin-top: 30px;}


.articleInfo{
  color: $font-color-lighter;
  ul{ 
    margin: 0;padding: 0; list-style: none; text-align: right;
    overflow: hidden; font-size: .9em; line-height: 1.3;
  }
  li{
    display: inline-block; margin-left: 1em;
    em{ display: inline-block; color: $font-color; font-style: normal; font-size: 1.2em;}
  }

}