// 現在位置
.breadcrumb {
  padding: 2px 0;margin: 0 auto 3px; overflow: hidden;
  color:lighten($font-color, 10) ;
  &::before{
    float: left; content: attr(title)"："; 
  }
  ul, li{ list-style: none; margin: 0;padding: 0;}
  ul{ float: left; line-height: 1.4; overflow: hidden; }
  li{float: left; position: relative;
    &:nth-child(n+2){padding-left: 1.5em;
      &::before{
        content: '';position: absolute; left: 4px; top: 5px; 
        width: .4em; height: .4em; border: 2px solid $border-color-dark;
        transform: rotate(45deg);border-bottom: none; border-left: none;
      }
    }
    &:first-child{padding-left: 0;}
    a{display: block; color: $font-color-dark; text-decoration: none;
        &:hover{ color: $linkColor;}
    }
  }

}

.pageHeader{margin:18px 0 6px; font-size: 1.6em; color: $font-color-dark;}
.function + .pageHeader{margin-top: 0;}


.closeThis{
  position: relative;width: 46px; height: 46px; cursor: pointer; transition: .2s;
  &::before, &::after{
    content: ''; position: absolute; top: 50%; left: 50%;
    width: 32px; height: 2px; margin: -1px auto auto -16px;
    background: #eee;
  }
  &::before{ transform: rotate(45deg);}
  &::after{transform: rotate(135deg);}

  &:hover{
    transform: scale(1.25);
    &::before, &::after{ background: #fff;}
  }
}




// ///////// 首頁模組 //////////
// 區塊標題 h2
.blockHeader{
  text-align: center; font-size: 1.35em; color: $font-color-dark;
  line-height: 1.3; position: relative;
  margin: 0 auto 20px; padding: 10px 0 20px;
  &::after{content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 8px; border-radius: 4px; background: $primaryColor;}
}
.row{ 
  
}
.bulletin{
  padding: 20px 30px;
  width: calc(100vw - #{$sideBarWidth} - 80px);
  background: #fff;
  .blockHeader{
    &::after{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 8px; border-radius: 4px; background: $primaryColor;}
  }
  .list{list-style: none; line-height: 1.5; margin: 0; padding: 0;
    // width: 100%;
    // width: calc(100% - 60px);
    li{ 
      margin: 10px 0; padding: 0;
      // width: 100%;
      position: relative;
      a{
        display: block;
        // width: 100%;
        padding: 0 0 .2em;
        text-decoration: none; color: $font-color;
        border-bottom: 1px solid transparent;
        &:hover{border-bottom-color: $primaryColor;}
        outline:1px dashed red;
        overflow: hidden;
        // width: calc(100% - 60px);

      
      }
      time{
        // position: absolute; left: 3px; top: .6em;
         background: #eee;
         display: inline-block;
         float: left;
      }
      p{
        margin: 0 0 0 8em; padding: 0;
        // width:calc(100vw - 80px - #{$sideBarWidth} - 9em - 60px);
        // width: 20em;
        outline:1px solid red;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 1.4em;

      }
    }
  }
}


.function{ 
  // outline: 1px dashed pink; 
  overflow: hidden;
  ul, li{ list-style: none; margin: 0; padding: 0; line-height: 1;}
  ul{ float: right; overflow: hidden;}
  li{float: left; margin: 3px;
    a{
      display: block; position: relative; height: 2.6em; line-height: 2.5em;
      padding:0 1.2em 0 44px;
      background: #9ba1a2; color: #fff; border-radius: 4px; text-decoration: none;
      background-image: linear-gradient(#9ba1a2, #7a7f80);
      box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
      transition: .2s;
      &:hover{background-image: linear-gradient(#5f6363, #8d9495); box-shadow: none;}
    }
    &.back{
      a::before{ 
        content: '';position: absolute; left: 17px; top: 50%; margin-top: -9px;
        width: 0;height: 0;
        border-style: solid; border-width: 9px 9px 9px 0;
        border-color: transparent #fff transparent transparent;
      }
    }
    &.print{
      a::before{ content: ''; position: absolute; left: 4px; top: 2px;
        width: 36px; height: 2.4em;
        background-image: url(../images/icon_print.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 25px auto;
      }
    }
    &.goTop{ 
      position: fixed; z-index: 900;
      right: 8px; bottom: -60px;text-indent: -20em; 
      text-align: center; transition: .8s;
      &.show{bottom: 10px;transition: .4s;}
      a{ 
        padding: 0; width: 44px; height: 44px;  overflow: hidden; border-radius: 50%;
        background-color: rgba(50,50,50,.7);
        background-image: none;
        box-shadow:none;
        &::before, &::after{content: '';position: absolute;}
        &::before{
          left: 17px; top: 10px;
          width: 8px; height: 8px; transform: rotate(45deg);
          border: 2px solid #fff; border-bottom: none; border-right: none;  
        }
        &::after{content: 'TOP'; width: 44px;  left: 0; top: 10px; font-size: 11px; text-indent: 0; color: #fff;}

        &:hover{
          box-shadow:rgba(50,50,50,1) 0 0 0 3px; background-color: rgba(50,50,50,1);
        }
      }
    }
  }

}
// .contBox .function { margin-top: 20px; font-size: 1rem;}


// .articleInfo{
//   color: $font-color-light;
//   ul{ 
//     margin: 0;padding: 0; list-style: none; text-align: right;
//     overflow: hidden; font-size: .9em; line-height: 1.3;
//   }
//   li{
//     display: inline-block; margin-left: 1em;
//     em{ display: inline-block; color: $font-color; font-style: normal; font-size: 1.2em;}
//   }

// }

// button division
.btnDv{ padding: 1.2em 0 1.5em;}


// 開合區
.slideToggle{
  
  position: relative;
  .slideCtrl{
    position: absolute; right: 5px; top: 5px; 
    margin: 0; padding: 0 5px 0 26px;
    height: 2.4em; line-height: 2.4em;
    color: $font-color; background: none;
    border: none; box-shadow: none;
    transition: .2s;
    &:hover{ background: $bg-color;}
    &::before{
      content: ''; width: 8px; height: 8px; 
      position: absolute; left: 10px; top: 50%; margin-top:-2px;
      border: 2px solid #666; border-left: none; border-top: none;
      transform: rotate(225deg); transition: .5s;
    }
    &.openIt{
      &::before{
        transform: rotate(45deg); margin-top: -7px;
      }
    }
  }
  .slideHeader{
    font-size: 1.45em;
  }
  .drawer{ 
    margin: 0; padding:0;
  }

}



