// ///////// 首頁模組 //////////
// 區塊標題 h2 ----------------------------------------------
$decoH : 8px;

.blockHeader{
  text-align: center; font-size: 1.35em; color: $font-color-dark;
  line-height: 1.3; position: relative;
  margin: 0 auto 8px; padding: 0;

  &.deco{
    padding-bottom: 18px;
    &::after{
      content: ''; position: absolute; bottom: 0; left: 0; right: 0; 
      height: $decoH; border-radius: $decoH*.5; 
      // background: transparentize($primaryColor, .4);
      background-color: $primaryColor;
      
    }
  }
}


// 首頁最上方， 快速連結 和 登入／登出 ----------------------------------------------
.mpTopMost{
  position: relative; display: flex; justify-content: space-between;
  margin: 5px auto;
  

  .jumpTo{ flex: 0 1 50%;
    select{ 
      width: calc(100% - 5em - 10px); max-width: 28em;
    }  
  }
  .loginBtn{ flex:0 0 auto;}
  .logoutBtn{ flex:0 0 auto;}
}

// 登入／登出 
.loginBtn, .logoutBtn{
  font-size: 1.2rem; margin-right: -10px;
  a{
    display: block; position: relative; cursor: pointer;
    height: 50px; line-height: 50px; padding: 0 15px 0 54px;
    color: $font-color-dark;border-radius: 2em; text-decoration: none;
    transition: .2s;
    &:hover{background:#fff; }
  }
}
// 登入圖示
.loginBtn{
  a{
    &::before{
      content: ''; position: absolute; left: 3px; top: 3px;
      width: 44px; height: 44px;border-radius: 50%;
      background: darken($gray , 12) url(../images/icon_login.png) no-repeat center center;
      background-size: 30px;
      transition: .2s;
    }
    &:hover::before{background-color: $grayDark;}
  }
}

// 登出圖示
.logoutBtn{
  a{
    &>img{
      position: absolute; left: 3px; top: 3px;
      width: 44px; height: 44px;border-radius: 50%;
      transition: .2s;
    }
  }

}

// 快速連結 select
.jumpTo{
  white-space: nowrap; font-size: 1.2rem;
  label{
    display: inline-block;vertical-align: middle;
    line-height: 2em; height: 2em; 
    color: $font-color-dark;
  }
  select{ 
    height: 2.5em; line-height: 2.5;
    box-sizing: border-box; border-color: #fff;
  }
}


// select 快速連結（所屬連結區塊） ----------------------------------------------
.row>.jumpTo{ 
  padding: 0 !important;
  select{
    width: 100%; margin: 0;
  }
}


// 介接外部新聞 ----------------------------------------------
.newsEmbed{
  &>iframe{
    margin:auto 0; padding: 0; display: block; border: none;
    width: 100%;
  }
}
.row>.newsEmbed{
  padding:10px 0 !important;
  min-height: 2.5em; 
}


// 區塊共用屬性 ----------------------------------------------------------------------
.myInfo, .bulletin1, .bulletin2, .textLink1, .textLink2, .iconSqaure, .iconDisk, .imgLink,
.announce, .notice, .calendar, .adBannerSlideV, .adBannerSlide, .adBanners, .chart {
  @extend %mpBlock;
}
// -------------------------------------------------------------------------------------

// 個人訊息 ----------------------------------------------
.myInfo{
  width: auto;
  display: flex; flex-flow:row wrap; justify-content: space-between;
  .blockHeader{flex:0 0 100%;}
  .leftDv{ position: relative; 
    flex: 0 1 calc(48% - 106px); margin: 10px 2% 0 0; 
    padding-left: 106px ; min-width: 20em; box-sizing: content-box;
  }
  .rightDv{ flex: 1 1 auto;margin: 10px 0 0; }

  img.avatar{
    position: absolute; top: 0; left: 0;
    width: 84px; height: 84px; border-radius: 50%;
  }

  .myName{
    display: inline-block; vertical-align: middle; 
    min-width: 4em;margin: 2px 10px 0 0;
    color: $font-color-dark; line-height: 1.2;
  }
  .myLinks{
    display: inline-block; vertical-align: middle;
    list-style: none; margin: 0; padding: 0; overflow: hidden;
    li{
      float: left; margin: 2px 3px;
      a{
        @extend %btnGradBg; padding: 0 .8em;
        display: block; height: 2.4em; line-height: 2.5;
      }
    }
  }

  .dutyOnOff{
     margin:.8em 0 0; padding: 0;
    overflow: hidden; list-style: none; white-space: nowrap;
    li{display: inline-block; margin: 8px 1.2em 0 0; padding: 0;line-height: 1.9;
      &:last-child{margin-right: 0;}
    }
    time{margin-left: .3em; font-size: 1.6em; color: $myInfo_time; display: inline-block; vertical-align: bottom; line-height: 1.3;}
  }

  .toDoList{
    list-style: none; margin: 0; padding: 0;
    display: flex; justify-content: flex-end;
    li{
      flex:0 0 calc(33.33% - 4px); width: calc(33.33% - 4px); max-width: 11em;
      margin: 0 6px 0 0; padding: 0; text-align: center;
      background-color: $secondaryColor; color: #fff; 
      
      &:last-child{margin-right: 0;}
      a{
        display: block; padding: 12px 8px 15px;
        color: #fff; text-decoration: none; transition: .2s;
        &:hover{
          box-shadow: $secondaryColor 0 0 0 2px;
        }
      }
      .count, .label{display: block; }
      .count{
        margin: 0 auto;
        font-size:2.2rem; height: 1.3em; line-height: 1.3; letter-spacing: 5px;
      }
      .label{ margin: 5px auto 0; white-space: nowrap; min-width: 7em;}
      em{font-style: normal; color: $lightColor;}
    }
  }
}

// $myInfo_em: #FFCA3E; //個人訊息em用
// $myInfo_time: #5C5175; //個人訊息time用


// 訊息_條列式 ----------------------------------------------
// (標題只顯示一行，超過顯示刪節號)
.bulletin1 {
  ul.list{
    list-style: none; line-height: 1.5; margin:0; padding:5px 0 0;
    li{ 
      margin: 0; padding: 0; position: relative;
      border-bottom: 1px solid $border-color-light;
      a{
        display: block; text-decoration: none; padding: 5px; overflow: hidden;
        color: $font-color; border-bottom:none; border-radius: 0;
        transition: .2s;
        &:hover{ 
          color: $linkColor; background-color: $bg-color-pale;
          text-decoration: underline;
        }
      }
      time{ float: left; }
      p{
        margin: 0 0 0 7em; padding: 0; 
      }
    }
    
    &.ellipsis{ max-width: 100%; 
      li{
        p{
          text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
          height: 1.4em; 
        }
      }
    }
  }

  // 表格條列
  table.list{
    width: 99%;
    border-collapse: collapse; line-height: 1.6; margin: .5em auto;
    // border-bottom: 1px solid $border-color;

    th, td{ padding:5px 1em; }
    thead{
      border-bottom: 1px solid $border-color;
      th{ white-space: nowrap;}
    }
    tbody{
      tr{border-bottom: 1px solid $border-color-light; transition: .2s;
        &:hover{ 
          background-color: $bg-color-pale;
        }
      }
      // tr{border-bottom: 1px solid $border-color-light; transition: .2s;
      //   &:last-child{border-bottom: none;}
      //   &:hover{background: $bg-color-pale;}
      //   &[onclick]{ cursor: pointer; 
      //     &:hover{ color: $linkColor; text-decoration: underline;}
      //   }
      // }
      td{vertical-align: top;
        &.aCenter{text-align: center;}
        &.aRight{text-align: right;}

        a{display: block; text-decoration: none; color: $font-color;
          &:hover{text-decoration: underline; color: $linkColor; }
        }
        &.number{ text-align: right;
          &::after{content: '.';}

        }
        .source, time{
          display: inline-block; text-align: center; color: $font-color;
          &:only-child{display: block;}
        }
        .source{min-width: 6.5em;}

        &>p{margin: 0;
          &+p{margin-top: 1em;}
        }
      }
    }
  }  
}
.col66>.bulletin1,
.col444>.bulletin1,
.col48>.bulletin1:first-child,
.col84>.bulletin1:nth-child(2){
  li {
    p{ margin-left: 6.2em;}
  }
}

// 訊息_條列訊息 ----------------------------------------------
// (標題+內文)
.bulletin2{
  .simuTable {margin: 0;padding: 0; list-style: none; line-height: 1.8;
    li{
      margin:5px 0; padding: .8em 1.5% .7em;
      display: flex; flex-flow: row nowrap;
      box-shadow: lighten($border-color, 10) 0 1px 1px 1px;
      border-top: 1px solid $border-color-light;

      time{ flex: 0 0 calc(5.5em + 1%); white-space: nowrap; margin-right: 1em; }
      p{
        margin: 0 1.4% 0 0; flex: 1 1 auto;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        .title{ display: block; color: $font-color-dark;}
      }

      .more{ flex: 0 0 6em; width: 6em; margin: 0;
        a{height: 2.1em; line-height: 2.2em; padding-left: .8em; padding-right: .8em;}
      }

      &.header{
        padding-top: .5em ;padding-bottom: .4em; margin-bottom: 6px;
        background-color: $primaryColor; color: $font-color-dark;
        box-shadow: darken($primaryColor, 8) 0 1px 0 1px;
        border-top: none;
        .th{ 
          &:first-child{flex: 0 0 calc(5.5em + 1%); margin-right: 1em; min-width: 5.6em;}
        }
      }
    }
  }


 // &>.more{margin-top: 12px;}

}
.col66>.bulletin2, .col444>.bulletin2, .col48>:first-child, .col84>.bulletin2:last-child{
  .simuTable{
    li{ 
      .more{
        &>a{padding-left: .5em; padding-right: .5em;}
      }
    }
  }
}


// 資安宣導（不同底色） ----------------------------------------------
.notice{
  background-color: $bg_notice;
  article{
    padding: 15px 0; line-height: 1.8;
    p{
      margin:0;padding: 0;line-height: inherit;
      &+p{margin-top: 1em;}
    }
    a{color: $linkColor;
      &:hover{ text-decoration: none; color: $font-color-dark;}
    }
  }
}

// 本校公布欄 （一則顯示不完整內容的訊息） ----------------------------------------------
.announce{
  article{
    line-height: 1.8; padding: 15px 0 5px;
    h3{
      font-size: 1.15em; color: $font-color-dark; margin: 0 0 .7em; padding: 0; line-height: 1.3;
    }
    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      margin:0;
      &+p{margin-top: 1em;}
    }
  }
  // .more{margin-top: 1em;}
}

// 文字連結 .textLink1 ----------------------------------------------
.textLink1{
  ul{ list-style: none; margin: 0 auto; padding: 0;
    display: flex; flex-flow: row wrap; font-size: 1.1em;
  }
  li{
    flex: 0 0 calc(25% - 9px); width: calc(25% - 9px); margin:6px 12px 6px 0;
    &:nth-child(4n){ margin-right: 0;}
    &>a{
      display: block; height: 100%; padding: 0 1em; height: 2.8em; line-height: 2.8;
      text-align-last: left;
      color: #fff; text-decoration: none;
      text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
      transition: .2s;
      &:hover{ transform: translateY(-2px); box-shadow: rgba(0,0,0,.3) 0 4px 8px;}
    }
    // &:nth-child(5n+1)>a{ @extend %gradient-1;}
    // &:nth-child(5n+2)>a{ @extend %gradient-2;}
    // &:nth-child(5n+3)>a{ @extend %gradient-3;}
    // &:nth-child(5n+4)>a{ @extend %gradient-4;}
    // &:nth-child(5n)  >a{ @extend %gradient-5;}
    // 20220106
    &:nth-child(6n+1)>a{ background-color: $txt1bgc-1; }
    &:nth-child(6n+2)>a{ background-color: $txt1bgc-2; }
    &:nth-child(6n+3)>a{ background-color: $txt1bgc-3; }
    &:nth-child(6n+4)>a{ background-color: $txt1bgc-4; }
    &:nth-child(6n+5)>a{ background-color: $txt1bgc-5; }
    &:nth-child(6n)  >a{ background-color: $txt1bgc-6; }
  }
  // .more{margin-top: 1em;}
}

.col66>.textLink1,
.col84>.textLink1:first-child,
.col48>.textLink1:nth-child(2) {
  li{
    flex: 0 0 calc(50% - 6px); width: calc(50% - 6px);
    &:nth-child(2n){ margin-right: 0;}
  }
}
.col444>.textLink1,
.col48>.textLink1:first-child,
.col84>.textLink1:nth-child(2),
.col84>.stack:nth-child(2)>.textLink1 {
  width: calc(33.33vw - #{$sideBarWidth}/3 - #{$pdOuter} - 20px);
  li{flex-basis: 100%; width: 100%;
    &:nth-child(n){margin-left: auto;margin-right: auto;}
    &>a{width: 100%;}
  }
}
.row[class*="col"]>.stack>.textLink1{
  width: auto !important;
}


// 文字連結 ----------------------------------------------
.textLink2{
  // width: 200px;
  ul{list-style: none; margin: 1em auto 0;padding: 0; text-align: center;}
  li{ margin: 3px 0;
    a{ display: block; height: 2.4em; line-height: 2.5; padding: 0 1em;
      text-decoration: underline; color: $font-color;
      white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      border-radius: 4px;
      &:hover{
        color: $linkColor; text-decoration: none; background-color: $bg-color-pale;
      }
    }
  }
}

// 圖示＋文字連結（icon區塊_Nx4方形） ----------------------------------------------
.iconSqaure{
  ul{
    list-style: none; margin: 0 auto; padding: 0;
    display: flex; flex-flow: row wrap; 
    align-items: flex-start;
  }
  li{
    flex: 0 0 calc(25% - 9px); width: calc(25% - 9px); margin:6px 12px 6px 0; padding: 0;
    &:nth-child(4n){ margin-right: 0;}
    &>a{
      display: flex; flex-flow: row nowrap;  align-items: center;
      text-align: left; text-decoration: none; background-color: #f9f9f9; color: $font-color;
      box-shadow: rgba(0,0,0,.1) 0 1px 1px; height: 100%;transition: .2s;
      &:hover{ transform: translateY(-2px); box-shadow: rgba(0,0,0,.2) 0 4px 8px;}

      &>.icon{ 
        flex: 0 0 52px;
        align-self: stretch;
        margin-right: 12px;width:52px; min-height: 52px;
        position: relative; 
        img{
          position: absolute;left: 50%;top: 50%;
          width: 32px;height: 32px;
          margin:-16px auto auto -16px;
          object-fit: contain;
        }
      }
      &>p{
        flex: 0 1  auto; 
        margin:0 ; padding:.1em .5em 0 0; line-height: 1.25;
      }
    }
    &:nth-child(6n+1)>a>.icon{ background-color: $txt1bgc-1; }
    &:nth-child(6n+2)>a>.icon{ background-color: $txt1bgc-2; }
    &:nth-child(6n+3)>a>.icon{ background-color: $txt1bgc-3; }
    &:nth-child(6n+4)>a>.icon{ background-color: $txt1bgc-4; }
    &:nth-child(6n+5)>a>.icon{ background-color: $txt1bgc-5; }
    &:nth-child(6n)  >a>.icon{ background-color: $txt1bgc-6; }
    
  }
}
.col66>.iconSqaure, .col84>.iconSqaure:first-child, .col48>.iconSqaure:nth-child(2),
.col84>.stack:first-child>.iconSqaure,
.col48>.stack:nth-child(2)>.iconSqaure {
  li{
    flex: 0 0 calc(50% - 6px); width: calc(50% - 6px);
    &:nth-child(2n){ margin-right: 0;}
  }
}
.col444>.iconSqaure, .col48>.iconSqaure:first-child, .col84>.iconSqaure:nth-child(2),
.col84>.stack:nth-child(2)>.iconSqaure {
  li{
    flex-basis: 100%;width: 100%; margin-left: auto; margin-right: auto;
    &:nth-child(n){ margin-right: 0; margin-left: 0; }
  }
}


// 圓形圖示陣列（icon區塊_Nx6圓形） ----------------------------------------------
.iconDisk{
  ul{
    list-style: none; margin: 0;padding: 0;
    display: flex; flex-flow: row wrap;
  }
  li{
    flex:0 0 15%; margin:5px 2% 15px 0;
    &:nth-child(6n){margin-right: 0;}
    &>a{
      display: block; text-align: center; height: 100%; padding: 12px 10px 10px;
      text-decoration: none; color: $font-color; border-radius: 6px; 
     transition: .2s;
      &:hover{ transform: translateY(-2px); box-shadow: rgba(0,0,0,.2) 0 2px 8px;}

      &>.icon{
        display: block;margin: 0 auto 10px;overflow: hidden;
        width: 76px; height: 76px; border-radius: 50%; 
        img{display: block;width: 40px; height: 40px; object-fit: contain; margin:18px auto 0;}
      }
      p{margin: 0;}
    }
    &:nth-child(6n+1)>a>.icon{ background-color: $txt1bgc-1; }
    &:nth-child(6n+2)>a>.icon{ background-color: $txt1bgc-2; }
    &:nth-child(6n+3)>a>.icon{ background-color: $txt1bgc-3; }
    &:nth-child(6n+4)>a>.icon{ background-color: $txt1bgc-4; }
    &:nth-child(6n+5)>a>.icon{ background-color: $txt1bgc-5; }
    &:nth-child(6n)  >a>.icon{ background-color: $txt1bgc-6; } 
  }

}
.col66>.iconDisk,
.col48>.iconDisk:nth-child(2),
.col48>.stack:nth-child(2)>.iconDisk,
.col84>.iconDisk:first-child,
.col84>.stack:first-child>.iconDisk {
  li{
    flex:0 0 32.6%; margin:5px 1.1% 15px 0;
    &:nth-child(3n){ margin-right: 0;}
  }
}
.col444>.iconDisk,
.col84>.iconDisk:nth-child(2),
.col84>.stack:nth-child(2)>.iconDisk,
.col48>.iconDisk:first-child,
.col48>.stack:first-child>.iconDisk {
  ul{ justify-content: space-between; }
  li{ flex-basis: 48%; 
    &:nth-child(n){ margin-left: 0; margin-right: 0;}
  }
}

// 小廣告圖（圖片_Nx4連結） ----------------------------------------------
.imgLink{
  .imgList{
    list-style: none; margin: 0 auto;padding: 0;
    display: flex; flex-flow: row wrap; justify-content:flex-start;
    li{
      flex: 0 0 calc(25% - 6px); 
      margin:4px 3px 16px; padding: 0;
      max-width: 214px;
      &>a{
        height: 64px; width: 100%;
        display: block; margin: 0 auto; 
        transition: .2s;
        &:hover{ transform: translateY(-2px); box-shadow:$border-color-dark 0 0 0 1px, rgba(0,0,0,.3) 0 2px 8px;}
        img{display: block; width: 100%; height: 100%; margin: 0;}
      }
    }
  }
}
.col444>.imgLink,
.col84>.imgLink:nth-child(2),
.col84>.stack:nth-child(2)>.imgLink,
.col48>.imgLink:first-child,
.col48>.stack:first-child>.imgLink {
  .imgList{display: block;
    li{ flex: none; margin: 8px auto;}
  }
}
// .col48>.imgLink:nth-child(2),
// .col48>.stack:nth-child(2)>.imgLink,
// .col84>.imgLink:first-child,
// .col84>.stack:first-child>.imgLink,
.col66>.imgLink {
  padding-left: 20px; padding-right: 20px;
  .imgList{ max-width: 444px;
    li{flex: 0 1 calc(50% - 8px); margin: 4px;}
  }
}

.col48>.imgLink:nth-child(2),
.col48>.stack:nth-child(2)>.imgLink,
.col84>.imgLink:first-child,
.col84>.stack:first-child>.imgLink{
  padding-left: 10px; padding-right: 10px;
  .imgList{ 
    outline: 1px solid red; 
    max-width: 666px;
    li{flex: 0 1 calc(33.33% - 8px); margin: 4px;}
  }
}


// 大圖 banner，單張
.bigBanner{
  margin: 0; padding: 0; width: 100%;
  a{
    position: relative; display: block;
     overflow: hidden; transition: .2s;
    &:hover{
      box-shadow: rgba($color: #000, $alpha: .3) 0 4px 16px;
      &::before{opacity: 1;}
    }
    &::before{
      opacity: 0;
      content: ''; position: absolute; left: 0;right: 0;top: 0;bottom: 0;
      box-shadow:#fff 0 0 0 2px inset;  transition: .2s;
    }
  }
  img{
    display: block; width: 100%; 
    height: calc( #{$rightBlkWidth}/3); object-fit: fill;
  }
  p{
    position: absolute; bottom: 0; left: 2px; right: 2px; z-index: 9;
    transform: translateY(100%); transition: .2s;
    padding: 10px; margin: 0;
    background: rgba(0,0,0,.7); color: #fff; text-align: center;
  }

  &:hover p{
    transform: translateY(0);bottom: 2px; 
  }

}

.col66>.bigBanner,
.col48>.bigBanner,
.col84>.bigBanner,
.col66>.bigBannerSlick,
.col48>.bigBannerSlick,
.col84>.bigBannerSlick{
  align-self: flex-start;
  padding-left: 0!important; padding-right: 0!important;
}
.col66>.bigBanner{
  img{
    height:calc( (50vw - #{$sideBarWidth}*.5 - #{$pdOuter}*1.5 - 12px )/3) ;
  }
}
.col48>.bigBanner:first-child{
  img{
    height:calc((100vw - #{$sideBarWidth} - #{$pdOuter}*3 )*.11 - 5.3333px );
  }
}
.col48>.bigBanner:last-child{
  img{
    height:calc((100vw - #{$sideBarWidth} - #{$pdOuter}*3 )*.2233 - 2.6666px );
  }
}
.col84>.bigBanner:first-child{
  img{
    height:calc((100vw - #{$sideBarWidth} - #{$pdOuter}*3 )*.22 - 2.6666px);
  }
}
.col84>.bigBanner:last-child{
  img{
    height:calc((100vw - #{$sideBarWidth} - #{$pdOuter}*3 )*.1133 - 5.3333px );
  }
}



// ---------------------------------------------------------------------------------------------------
// 小圖 banner %extend
// 小圖 banner 尺寸設定
%banner{
  a{display: block;  margin: 0 auto;
    // width: 180px; height: 60px;
    width: 200px; height: 64px;
  }
  img{display: block; width: 100%; height: 100%;}
}

// 不輪播的小 banner, 以 ul, li 排版
%bannerList{
  list-style: none; margin: 0; padding: 0;
  li{
    margin: 0; padding: 0;
    &:hover{ transform: translateY(-2px);}
    @extend %banner;
  }
}




// 水平排列的小廣告圖，不輪播、不滑動 ----------------------------------------------
.adBanners{
  // background-color: transparent;
  // padding-left: 0; padding-right: 0;
  .slideCtrl{
    width: 200px; height: 64px; display: block;margin: 0 auto;
    padding-left: 35px; text-align: left;
    position: relative; top: 0;left: 0; right: auto;
    background: lighten($gray, 10%); border-radius: 0;
    transition: .2s;
    &:hover{ 
      transform: translateY(-2px);background: #fff;
      box-shadow:$border-color-dark 0 0 0 1px, rgba(0,0,0,.3) 0 2px 8px;
    }

    &::before{
      right: 26px; left: auto; border-color: #fff;
      z-index: 9;
    }
    &::after{
      content: ''; position: absolute; right: 0; top: 0; bottom: 0; width: 64px;
      background-color: $secondaryColor;
    }
  }

  .bannerBox{
    position: relative; 
    // overflow: hidden;
    // padding-bottom: 10px;
  }

  ul.bannerList{ 
    @extend %bannerList;
    display: flex; flex-flow: row wrap; 

    /* 20220106
      margin: -3px;
      li{
        flex: 0 0 auto;
        margin:3px; transition: .2s;
        &:hover{ box-shadow: $border-color-dark 0 6px 8px -3px, $border-color-dark 0 0 0 1px;
        }
      }
    */

    li{
      margin:4px 3px 16px; padding: 0;
      flex: 0 0 calc(25% - 6px);
      max-width: 214px;
      &>a{
        width: 200px; height: 64px;
        display: block; margin: 0 auto; 
        transition: .2s;
        &:hover{ transform: translateY(-2px); box-shadow:$border-color-dark 0 0 0 1px, rgba(0,0,0,.3) 0 2px 8px;}
        img{display: block; width: 100%; height: 100%; margin: 0;}
      }
    }
  }

  .drawer{
    display: none;
    .bannerBox{margin-top: 50px;}
  }

}


// 日曆 ----------------------------------------------
// 使用套件 calendar.js ，完整 css 在 _calendar.scss
.calendar{
  padding: 0 0 5em !important;
  position: relative;
}


.marquee{
  // @extend %marqueeStyle;
  position: relative; padding: 0 !important;
  font-size: 1.2em; border-radius: 2em;
  background-color: $primaryColor; color: $font-color-dark;

  .mqBox{
    position:relative; top: 0; overflow:hidden;
    height:52px; margin:0 54px 0 4px;
  }
  ul{ list-style: none; margin: 0; padding: 0;}
  li{ position: absolute;left: 0; top: 0;margin:0; padding: 0; width: 100%;
    a{
      display:block; padding: 0 12px;margin:4px 0;
      height:44px; line-height:44px; 
      color:  $font-color-dark;

      white-space:nowrap; text-overflow:ellipsis; overflow:hidden; 
      text-decoration:none;border-radius: 24px; outline: none;
      transition: .2s;
      &:hover {background-color: rgba(255,255,255, .3); }
      &:focus{box-shadow: rgba(255,255,255, .5) 0 0 0 1px inset; }
    }
    &.active{
      a{box-shadow: #fff 0 0 0 2px inset;}
    }
  }

  button{
    background: none;

    position:absolute; right:4px; top:50%; margin: -22px 0 0;
    text-align:center; padding:0; 
    width:44px !important; height:44px !important; border-radius:50%;
    box-shadow: none; border: none;outline: none;
    transition: .2s;

    &::before{ color:  $secondaryColor;}

    &:hover{
      background:$secondaryColor;
      &::before{opacity:1;}
    }
    &::after{
      content:''; position: absolute; top: 15px; left: 17px; width:4px; height:14px; 
      border:4px solid $secondaryColor; border-top:none; border-bottom:none; 
    }
    &:hover::after{ border-color: #fff;}
    &::before{
      content:'暫停輪播'; font-size:13px; opacity:0; white-space: nowrap;
      position:absolute; left:-5em; top:0; 
      left: -.5em;
      height:1.1em; line-height:1.1em; padding:0 .4em; padding: 0;
      color:  $secondaryColor;
      border-radius:4px;
      transition:.2s;
    }
    &:hover::before{top: -1.6em;}
    &.pause{ background:$secondaryColor;
      &::after{
        width:0; height:0; margin-left:2px; top: 14px;
        border-style:solid; border-width:8px 0 8px 12px;
        border-color:transparent transparent transparent #fff;
      }
      &::before{content:'繼續輪播';}
    }
  }
}

// 統計專區 ----------------------------------------------
.chart{
  &>div[id]{ 
    margin: 20px auto 0;
    max-width: 100%;
    overflow-x: auto;
  }

}
 



// ********************************************************
// 以下使用 slick 套件 
// ********************************************************
.slick.slick-slider{
  position: relative;
  button.slick-arrow{ 
    position: absolute; z-index: 19;
    border: none; background: none; box-shadow: none; font-size: 0; margin: 0;
  }
}
// 輪播點點
.slick-dots{
  list-style: none; margin: 4px auto 16px; padding: 0; text-align: center;
  li{ display: inline-block; margin: 2px 8px;
    button{
      font-size: 0;  margin: 0; padding: 0; box-shadow: none; border: none;
      width: 10px; height: 10px; border-radius: 50%; 
      background: $bg-color-dark;
    }
    // &.slick-active button{ background: $lightColor; box-shadow: $lightColor 0 0 0 2px;}
    &.slick-active button{ background: $secondaryColor; box-shadow: $secondaryColor 0 0 0 2px;}

  }
}


// 小圖 banner，水平輪播 ----------------------------------------------
.adBannerSlick{
  padding: 15px 0;
  background: #fff;

  .slick{
    width: 100%;  min-width: 724px; // banner寬*3 + 100 
    padding-left: 50px; padding-right: 50px;  
  }

  .banner{
    margin:3px 3px 9px; padding: 0; transition: .2s;
    @extend %banner;
    &:hover{ transform: translateY(-2px);}
    a{ transition: .2s;
      &:hover{
        box-shadow: $border-color-dark 0 6px 8px -3px, $border-color-dark 0 0 0 1px;
      }
    }
  }

  button.slick-arrow{
    @extend .arrow; top: 14px;
    &.slick-prev{ left: 4px;
      &:hover{ left: 0;}
    }
    &.slick-next { @extend .right; right: 4px;
      &:hover{ right: 0;}
    }
  }

  // .more{margin-top: 10px;}
}


// 小圖 banner，垂直輪播 ----------------------------------------------
.adBannerSlideV{
  .slick.slick-slider{
    button.slick-arrow{
      @extend .arrow; left: 50%; margin-left: -22px;
      &.slick-prev{ @extend .arrow, .up; top: 4px;
        &:hover{ top: 0;}
      }
      &.slick-next { @extend .arrow, .down; bottom: 4px;
        &:hover{ bottom: 0;}
      }
    }  
  }
  .banner{
    @extend %banner;
    width: 100% !important; 
    margin:2px auto 5px; padding: 0; transition: .2s;
    a{transition: .2s;
      &:hover{
        box-shadow:$border-color-dark 0 0 0 1px, rgba(0,0,0,.5) 0 4px 6px -2px;
        transform: translateY(-2px);
      }
    }
  }


}


// 大圖 banner，水平輪播 ----------------------------------------------
.bigBannerSlick{
  margin: 0; padding: 0;
  .image{
    position: relative;
    // 寬 : 高 = 3:1
    width: 100%; height: calc( #{$rightBlkWidth}/3);
    a{
      display: block;position: relative;
      width: 100%; height: 100%; margin: 0 auto; 
      &::before{
        content: ''; z-index: 9; transition: .2s;
        position: absolute; left: 0; right: 0; top: 0; bottom: 0;
        box-shadow: none;
      }
      &:hover::before{ box-shadow: #fff 0 0 0 2px inset;}
    }
    img{ display: block; width: 100%; height: 100%;}

    p{
      position: absolute; bottom: 0; left: 2px; right: 2px; z-index: 9;
      transform: translateY(100%); transition: .3s;
      padding: 10px; margin: 0;
      background:rgba(0,0,0,.7); color: #fff; text-align: center;
    }

    &:hover p{
      transform: translateY(0); bottom: 2px;
    }
  }

  .slick{
    position: relative; width: 100%;
    // width: $rightBlkWidth;
    button.slick-arrow{ 
      @extend .arrow; top: 50%; margin-top: -40px;
      background-color: rgba(#fff, .4);
      &.slick-prev{ left: 2px;}
      &.slick-next{ right: 2px; @extend .arrow, .right}
      &:hover{background-color: rgba(#fff, .8);}
    }
  }
}
.col66>.bigBannerSlick{
  .image{
    height:calc( (50vw - #{$sideBarWidth}*.5 - #{$pdOuter}*1.5 - 12px )/3) ;  
  }
}
.col48>.bigBannerSlick:first-child{
  .image{
    height:calc((100vw - #{$sideBarWidth} - #{$pdOuter}*3 )*.11 - 5.3333px );
  }
}
.col48>.bigBannerSlick:last-child{
  .image{
    height:calc((100vw - #{$sideBarWidth} - #{$pdOuter}*3 )*.2233 - 2.6666px );
  }
}
.col84>.bigBannerSlick:first-child{
  .image{
    height:calc((100vw - #{$sideBarWidth} - #{$pdOuter}*3 )*.22 - 2.6666px);
  }
}
.col84>.bigBannerSlick:last-child{
  .image{
    height:calc((100vw - #{$sideBarWidth} - #{$pdOuter}*3 )*.1133 - 5.3333px );
  }
}


// ********************************************************
// 以上使用 slick 套件 
// ********************************************************
