// ///////// 首頁模組 //////////
// 區塊標題 h2 ----------------------------------------------
$decoH : 8px;

.blockHeader{
  text-align: center; font-size: 1.35em; color: $font-color-dark;
  line-height: 1.3; position: relative;
  margin: 0 auto 10px; padding: 10px 0;

  &.deco{
    padding-bottom: 18px;
    &::after{content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: $decoH; border-radius: $decoH*.5; background: $primaryColor;}
  }
}

// 排版用橫列 ----------------------------------------------
.row{
  &.col21{
    display: flex; justify-content: space-between;
    &>section{
      flex-grow: 0; flex-shrink: 1;
      &:first-child{
        flex-basis: calc(66% - 25px); margin-right: 25px;
      }
      &:last-child{
        flex-basis: 34%;
      }
    }
  }

  &.col334{
    display: flex; justify-content: space-between;
    &>section{
      flex:0 1 auto; margin: 10px 21px 10px 0;
      &:nth-child(1), &:nth-child(2) {
        flex-basis: calc(30% - 14px);
      }
      &:nth-child(3){margin-right: 0;flex-basis: calc(40% - 14px);
      }

    }
  }
}

// 首頁最上方， 快速連結 和 登入／登出----------------------------------------------
.mpTopMost{
  position: relative; display: flex; justify-content: space-between;
  margin: 5px auto;

  .jumpTo{ flex: 0 1 50%;}
  .loginBtn{ flex:0 0 auto;}
  .logoutBtn{ flex:0 0 auto;}
}

// 快速連結 select
.jumpTo{
  white-space: nowrap; font-size: 1.2rem;
  label{
    line-height: 2em; height: 2em; vertical-align: middle; color: $font-color-dark;
  }
  select{ 
    width: calc(100% - 5em - 10px); max-width: 28em;
    height: 2.5em; line-height: 2.5;
    box-sizing: border-box; border-color: #fff;
  }
}

// 登入／登出 
.loginBtn, .logoutBtn{
  font-size: 1.2rem; margin-right: -10px;
  a{
    display: block; position: relative; cursor: pointer;
    height: 50px; line-height: 50px; padding: 0 15px 0 54px;
    color: $font-color-dark;border-radius: 2em;
    transition: .2s;
    &:hover{background:#fff; }
  }
}
// 登入圖示
.loginBtn{
  a{
    &::before{
      content: ''; position: absolute; left: 3px; top: 3px;
      width: 44px; height: 44px;border-radius: 50%;
      background: $gray url(../images/icon_login.png) no-repeat center center;
      background-size: 30px;
      transition: .2s;
    }
    &:hover::before{background-color: $grayDark;}
  }
}
// 登出圖示
.logoutBtn{
  a{
    &>img{
      position: absolute; left: 3px; top: 3px;
      width: 44px; height: 44px;border-radius: 50%;
      transition: .2s;
    }
  }

}



// 區塊共用屬性
.myInfo, .bulletin, .directLink1, .directLink2, .disks, .imgBanners,
.announce, .notice, .calendar, .directLink3, .bannerSlide {
  @extend %mpBlock;
}

// 個人訊息 ----------------------------------------------
.myInfo{
  @extend %mpBlock;
  display: flex; flex-flow:row wrap; justify-content: space-between;
  .blockHeader{
    flex:0 0 100%;
  }
  .leftDv{
    flex: 0 0 auto; margin: 10px 3% 0 0; 
    position: relative; padding-left: 106px ;
  }
  .rightDv{
    margin: 10px 0 0;
    // outline: 1px dashed pink;
    flex: 1 1 47%; 
    max-width: 33em;
  }

  img.avatar{
    position: absolute; top: 0; left: 0;
    width: 84px; height: 84px; border-radius: 50%;
  }

  .myName{
    display: inline-block; vertical-align: middle; 
    min-width: 4em;margin: 2px 10px 0 0;
    color: $font-color-dark; line-height: 1.2;
  }
  .myLinks{
    display: inline-block; vertical-align: middle;
    list-style: none; margin: 0; padding: 0; overflow: hidden;
    li{
      float: left; margin: 2px 3px;
      a{
        @extend %btnGradBg; padding: 0 .8em;
        display: block; height: 2.4em; line-height: 2.5;
      }
    }
  }

  .dutyOnOff{
    clear: both; margin:1.3em 0 0;
    // outline: 1px dashed pink; 
    overflow: hidden;
    dt, dd{float: left; margin: 0; padding: 0;}
    dt{line-height: 1.9;}
    dd{margin-left: .3em; font-size: 1.6em; color: $primaryColor; line-height: 1.1;}
    dd + dt{ margin-left: 1.5em;}
  }

  .toDoList{
    list-style: none; margin: 0; padding: 0;
    display: flex;
    li{
      flex:0 0 calc(33.33% - 4px);
      margin: 0 6px 0 0; padding: 12px 8px 15px;
      &:last-child{margin-right: 0;}
      background-color: $primaryColor; color: #fff; text-align: center;
      .count, .label{display: block; }
      .count{
        margin: 0 auto;
        font-size:2.2rem; height: 1.3em; line-height: 1.3; letter-spacing: 5px;
      }
      .label{ margin: 5px auto 0; white-space: nowrap;}
      em{font-style: normal; color: $secondaryColor;}
    }
  }
}

// 首頁查詢區 ----------------------------------------------
.searchBlk{
  @extend %mpBlock;
  background: $primaryColor; color: #fff;
  .formLayout{
    // outline: 1px solid red; 
    width: 100%; 
    min-width: 400px;
    input[type="text"], input[type="date"], input[type="number"],
    select{border-color: #fff;
      &:focus{border-color: #fff; box-shadow: $secondaryColor 0 0 0 3px;}
    }

    td{
      &:nth-child(odd){text-align: left; width: 7em; white-space: nowrap;}
      &:nth-child(even) {padding-bottom: 16px;}

      &>input[type="text"]:only-child,
      &>input[type="date"]:only-child,
      &>input[type="number"]:only-child{width:98%;}
      &>select:only-child{ width: calc(98% - 2em);}

      .duration{width: calc(98% + 6px);}

    }
  }

  .btnDv{
    padding:15px 0 5px;
    input[type="button"]{width: 6em; background: #fff; color: $font-color-dark; border: none;}
  }

  @media screen and (min-width: $wwWide){
    margin-left: 8%; margin-right: 8%;
  }


}

// 公布欄 ----------------------------------------------
.bulletin {
  width: calc(100vw - #{$sideBarWidth} - #{$pdOuter}*3 );
  .list{
    list-style: none; line-height: 1.5; margin:25px 0 0; padding: 0;
    li{ 
      margin: 5px 0; padding: 0;
      position: relative;
      a{
        display: block; text-decoration: none; padding: 10px; overflow: hidden;
        color: $font-color; border-bottom: 1px solid transparent; border-radius: 4px;
        transition: .2s;
        &:hover{ color: $font-color-dark; text-decoration: underline;
          background-color: $bg-color-pale;
        }
      }
      time{ float: left; }
      p{
        margin: 0 0 0 7em; padding: 0;
      }
      
    }
    
    &.ellipsis{
      li {
        p{
          text-overflow: ellipsis; white-space: nowrap; overflow: hidden; height: 1.4em;
        }
      }
    }
    &+.more{margin-top: 2em;}
  }
}

// 資安宣導（不同底色） ----------------------------------------------
.notice{
  width: calc(100vw - #{$sideBarWidth} - #{$pdOuter}*3 );
  background-color: #FDF7D6;
  box-shadow: rgba(0,0,0,.1) 5px 2px 0;
  article{
    line-height: 2.4;
    p{
      margin: 0;padding: 0;line-height: inherit;
      border-bottom: 1px solid rgba($color: $primaryColor, $alpha: .25);
      &.ellipsis {
        white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
      }
    }
  }
}
.row.col21>.notice{
  width: 500px;
}

// 本校公布欄 （一則顯示不完整內容的訊息） ----------------------------------------------
.announce{
  article{
    line-height: 1.8;
    h3{
      font-size: 1em; color: $font-color-dark;
    }
    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }

  }
}

// 快速連結 ----------------------------------------------
.directLink1{
  ul{ list-style: none; margin: 0 auto; padding: 0;
    display: flex; flex-flow: row wrap; font-size: 1.1em;
  }
  li{
    flex: 0 0 calc(25% - 9px); width: calc(25% - 9px); margin:6px 12px 6px 0;
    &:nth-child(4n){ margin-right: 0;}
    &>a{
      display: block; height: 100%; padding: 0 1em; height: 2.8em; line-height: 2.8;
      text-align-last: left;
      color: #fff; text-decoration: none;
      text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
      transition: .2s;
      &:hover{ transform: translateY(-2px); box-shadow: rgba(0,0,0,.3) 0 4px 8px;}
    }
    &:nth-child(5n+1)>a{ @extend %gradient-1;}
    &:nth-child(5n+2)>a{ @extend %gradient-2;}
    &:nth-child(5n+3)>a{ @extend %gradient-3;}
    &:nth-child(5n+4)>a{ @extend %gradient-4;}
    &:nth-child(5n)  >a{ @extend %gradient-5;}

  }

}

// 圖示＋文字連結（icon區塊_Nx4方形）
.directLink2{
  ul{
    list-style: none; margin: 0 auto; padding: 0;
    display: flex; flex-flow: row wrap; 
    align-items: flex-start;
  }
  li{
    flex: 0 0 calc(25% - 9px); width: calc(25% - 9px); margin:6px 12px 6px 0; padding: 0;
    &:nth-child(4n){ margin-right: 0;}
    &>a{
      display: flex; flex-flow: row nowrap;  align-items: center;
      text-align: left; text-decoration: none; background-color: #f9f9f9; color: $font-color;
      box-shadow: rgba(0,0,0,.1) 0 1px 1px; height: 100%;transition: .2s;
      &:hover{ transform: translateY(-2px); box-shadow: rgba(0,0,0,.2) 0 4px 8px;}

      &>.icon{ 
        flex: 0 0 52px; align-self: stretch;
        margin-right: 12px;width:52px; min-height: 52px;
        position: relative; 
        img{
          position: absolute; left: 50%; top: 50%; 
          width: 32px; height: 32px; margin:-16px auto auto -16px; object-fit: contain;
        }
      }
      &>p{
        flex: 0 1  auto; 
        margin:0 ; padding:.1em .5em 0 0; line-height: 1.25;
      }
      
    }
    &:nth-child(5n+1)>a>.icon{ @extend %gradient-1;}
    &:nth-child(5n+2)>a>.icon{ @extend %gradient-2;}
    &:nth-child(5n+3)>a>.icon{ @extend %gradient-3;}
    &:nth-child(5n+4)>a>.icon{ @extend %gradient-4;}
    &:nth-child(5n)  >a>.icon{ @extend %gradient-5;}
  }

}

// 圓形圖示陣列（icon區塊_Nx6圓形）
.disks{
  ul{
    list-style: none; margin: 0;padding: 0;
    display: flex; flex-flow: row wrap;
  }
  li{
    flex:0 0 15%; margin:5px 2% 15px 0;
    &:nth-child(6n){margin-right: 0;}
    &>a{
      display: block; text-align: center; height: 100%; padding: 12px 10px 10px;
      text-decoration: none; color: $font-color; border-radius: 6px; 
     transition: .2s;
      &:hover{ transform: translateY(-2px); box-shadow: rgba(0,0,0,.2) 0 2px 8px;}

      &>.icon{
        display: block;margin: 0 auto 10px;overflow: hidden;
        width: 76px; height: 76px; border-radius: 50%; 
        img{display: block;width: 40px; height: 40px; object-fit: contain; margin:18px auto 0;}
      }
      p{margin: 0;}
    }
    &:nth-child(5n+1)>a>.icon{ @extend %gradient-1;}
    &:nth-child(5n+2)>a>.icon{ @extend %gradient-2;}
    &:nth-child(5n+3)>a>.icon{ @extend %gradient-3;}
    &:nth-child(5n+4)>a>.icon{ @extend %gradient-4;}
    &:nth-child(5n)  >a>.icon{ @extend %gradient-5;}
  }

}


// 小廣告圖（圖片_Nx4連結）
.imgBanners{
  ul{
    list-style: none; margin: 0;padding: 0;
    display: flex; flex-flow: row wrap;
  }
  li{
    flex: 0 0 auto;
    margin: 3px; padding: 0;
    &>a{display: block;
      img{display: block; width: 200px; height: 52px;}
      transition: .2s;
      &:hover{ transform: translateY(-2px); box-shadow: rgba(0,0,0,.2) 0 2px 8px;}

    }

  }
}

// 文字連結
.directLink3{
  width: 200px;
  ul{list-style: none; margin: 1em auto 0;padding: 0; text-align: center;}
  li{ margin: 3px 0;
    a{ display: block; height: 2.4em; line-height: 2.5; padding: 0 1em;
      text-decoration: underline; color: $font-color;
      white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      border-radius: 4px;
      &:hover{
        color: $linkColor; text-decoration: none; background-color: $bg-color-pale;
      }
    }
  }
}

// 垂直滑動的小廣告圖
.bannerSlide{
  ul{list-style: none; margin: 0;padding: 0;}
  li{ margin: 8px 0; position: relative;
    a{display: block;width: 200px;margin: 0 auto;
      img{
        display: block; width: 100%;height: 52px; 
      }
      transition: .2s;
      &:hover{ transform: translateY(-1px);  box-shadow:#fff 0 0 0 1px, rgba(0,0,0,.4) 0 2px 12px;}
    }
    &:hover{z-index: 99;}
  }
}



