.pagination {
    font-size: 1rem;
    display: block; clear: both;text-align: center;
    margin: 1.5em auto;padding: 0;
    a{text-decoration: none;}
    ul, ol{list-style: none; margin: 0; padding: 0;}
    em {
        font-style: normal; font-weight: bold; font-size: 1.15em;
        margin: 0 .3em; color: $font-color-dark;
    }
    .total {
        display: inline-block; vertical-align: middle;
        select {
            margin: 0 .5em;
        }
        input[type="button"] {
            border: 1px solid #CCC;
            color: #222;
            padding: .4em 1em;
            min-width: 3em;
            display: inline-block;
            vertical-align: middle;
            box-shadow: none;
            text-shadow: none;
            &:hover, &:focus {
                color: #fff;
                background: #ccc;
            }
        }
    }
    .items {
        display: inline-block;vertical-align: middle;
        line-height: 1.4em; line-height: 1.5em;
        ul{
          display: inline-block; overflow: hidden;vertical-align: middle;
          box-shadow: #fff 0 0 0 1px;border-radius: 3px; padding: 2px 0;
        }
        li{ 
          float: left; margin: 0 2px 0 0; padding-left: 2px; 
          border-left: 1px solid $border-color; font-weight: bold;
          &:first-child{border-left: none;}
          &.active{
            a{background-color: $btn-bg1; color: #fff;}
          }
        }
        a{
            display: block; padding: 0 6px; border-radius: 3px;
            color: $font-color-dark;
            &:hover{background-color: lighten($btn-bg1, 55);}
        }
    }



    .page {
        margin: 10px 0; padding: 0; text-align: center;
        li {
            margin:2px 0;display: inline-block; 
            a {
                display: block; white-space: nowrap;
                height: 2.2em; line-height: 2.1em; min-width: 2.2em;
                padding: 0 5px;
                color: $font-color; background-color: #fff;
                border: 1px solid $border-color-light;
               transition: .1s;
                &:hover, &:focus {
                  border-color: $btn-bg1;
                }
            }
            &.active {
                a {
                  background:$btn-bg1;color: #fff; 
                  box-shadow: $btn-bg1 0 0 0 1px;
                  border-color: $btn-bg1;
                }
            }
            %arrow {
                content: "";
                position: absolute;top: 50%;left: 50%;
                width: 6px;height: 6px;margin-top: -4px;
                border: 2px solid $font-color; border-left: none;border-bottom: none;
            }
            &.first, &.prev, &.next, &.last {
                a {
                  position: relative;text-indent: -9999px;
                }
            }
            &.first {
                a::before {
                    @extend %arrow;
                    margin-left: -6px;transform: rotate(-135deg);
                }
                a::after {
                    @extend %arrow;
                    margin-left: 0;transform: rotate(-135deg);
                }
            }
            &.prev {
                a::before {
                    @extend %arrow;
                    margin-left: -2px;transform: rotate(-135deg);
                }
            }
            &.next {
                a::before {
                    @extend %arrow;
                    margin-left: -6px;transform: rotate(45deg);
                }
            }
            &.last {
                a::before {
                    @extend %arrow;
                    margin-left: -3px;transform: rotate(45deg);
                }
                a::after {
                    @extend %arrow;
                    margin-left: -9px;transform: rotate(45deg);
                }
            }
        }
    }

    &:last-child{margin-top:3em;}
}

.contBox > .pagination:first-child {margin-top: .5em;}