.questionnaire{
  .meta table.data{
    tr:first-child>td:last-child{ font-size: 1.2em; color: $font-color-dark;}
  }
  fieldset{
    margin:3em auto 1em;
    border-color: $border-color; border-radius: 0;
  }
  legend{
    font-weight: normal; font-size: 1.2em; 
    padding: 8px .8em; line-height: 1.1;
    border: 1px solid $border-color;
    border-radius: 2em;
    // background: $bg-color-dark; color: #fff;
  }

  .basicInfo{
    .formLayout{
      width: 100%;max-width: 60em; margin:15px auto;
      td:first-child{ width: 20%;}
      td:last-child{

        input{width: 96%; }
      }
    }
  }

  .btnDv{ margin: 0;
    input[type="button"], input[type="submit"]{ min-width: 9em;}
  }

}
.contBox>.questionnaire{ margin-left: $pdInner*-.5;margin-right: $pdInner*-.5;}

.question{
  position: relative; margin: 5px 0 15px; padding: 30px 0 10px 3em;
  line-height: 1.6;

  &+.question{border-top: 1px dotted $border-color;}

  .number{
    position: absolute; left: 0; top: 35px;
    width: 2.2em; font-weight: bold; text-align: right;
    height: 1em; line-height: 1; color: $font-color-dark;
    &::after{content: '.';}
  }

  p{margin: 0 0 1em;color: $font-color-dark;}
}
.yourAnswer{
  label{
    position: relative;
    display: block; margin: 4px 0; padding:7px 0 7px 1.6em;
    cursor: pointer;
    &:hover{ color: $font-color-dark;}

    input[type="radio"], input[type="checkbox"]{
      position: absolute; left: 0; top: 10px;
    }
    input[type="text"], input[type="email"], input[type="number"]{
      margin-top: -7px; margin-bottom:-7px; vertical-align: middle;
      width: 30em;

    }
  }

}