.sitemap{
  margin: 0; padding: 0; 

  // mapTree ------------------------------- //
  .mapTree{
    list-style: none; margin: 0; padding: 0;line-height: 1.4; 
    display: flex; flex-flow: row wrap;
    ul { list-style: none; padding: 0; margin:0 0 0 1.5em;}
    &>li>ul{margin-left: 0;}
    li { padding: 0; margin: 8px 0 12px;
      a{
        display: block;  padding: .2em 0 .1em;
        color: $font-color; border-bottom: 1px solid transparent;text-decoration: none;
        &:hover{color: $linkColor; border-bottom-color: $linkColor;}
      }
      .no{display: inline-block; white-space: nowrap; margin-right:.4em; font-family: monospace;}
    }
    &>li{
      flex: 0 1 32%; margin:1em 2% 3em 0; margin-bottom: 2em;
      // outline: 1px dashed pink;
      &:nth-child(3n){ margin-right: 0;}
      &>a{font-size: 1.18em; border-bottom: 3px solid $border-color-light;
        padding-left: 2em; 
        &>.no{width: 1.6em; margin-left: -2em;}
      }
    }
  }

  @media screen and (min-width: 1400px){
    .mapTree{
      &>li:nth-child(n){
        flex-basis: 23.5%; margin-right: 2%;
      }
      &>li:nth-child(4n){ margin-right: 0;}
    }
  }

  @media screen and (min-width: 2000px){
    .mapTree{
      &>li:nth-child(n){
        flex-basis: 18.8%; margin-right: 1.5%;
      }
      &>li:nth-child(5n){ margin-right: 0;}
    }
  }
}