// $wwSlim: 500px;
// $wwMedium: 700px;
$wwNormal: 1020px;
$wwWide: 1440px;
$wwMaximum: 1920px;

$sideBarWidth : 240px; //左側欄寬
$pdInner:40px; //主要內容區左右邊界
$pdOuter:30px; //主要內容區左右邊界

//右欄寬 ＝ 100vw - 左欄寬 - 左右 margin
$rightBlkWidth : calc(100vw - #{$sideBarWidth} - #{$pdOuter}*3 );

%btnGradBg{
  background-color: #9ba1a2; color: #fff;
  text-decoration: none;
  background-image: linear-gradient(#afb4b4 0, #95999a 80%);
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 inset, rgba(0, 0, 0, .2) 0 1px 2px;
  transition: .1s;
  &:hover{ box-shadow: rgba(0, 0, 0, .5) 0 45px 30px inset, rgba(0, 0, 0, .2) 0 1px 2px;}
}

// 首頁區塊
%mpBlock {
  // margin: 24px 0 12px;
  padding: 15px $pdInner; margin: 0;
  background: #fff;font-size: 1.13rem;
}
// .row>section{ margin: 12px 0; }
// .row>section:only-child { margin-top: 12px; }
// .row[class*="col"] + .row>section:only-child {margin-top: 10px;}

.row.col66>section,
.row.col444>section,
.row.col84>section:last-child,
.row.col48>section:first-child {
  padding-left: $pdInner*.6; padding-right: $pdInner*.6;
}
.row.col48>section:last-child,
.row.col84>section:first-child {
  padding-left: $pdInner*.8; padding-right: $pdInner*.8;
}