$wwSlim: 500px; //更小的螢幕斷點
$wwMedium: 700px; //min-width此值以下是手機
$wwWide: 1000px;  //min-width此值以上是電腦
$wwMaximum: 1300px;

$primaryColor: #0094e0; //主色
$secondaryColor: #66bd00; //輔色
$lightColor: #fdb300; //點綴
$linkColor: #1959af; //連結
$importantColor: #ff3e4d; //重要

$font-color: #444;
$font-color-lighter:#8f9b9a;
$font-color-darker:#252929;

$bg-color-pale: #f0f4f5;
$bg-color-light:#e8e7dc;
$bg-color:#d3dedf;
$bg-color-dark:#909ea2;

$btn-bg1:#69BBAB;
$btn-bg2:#459383;


$border-color-pale: #d7dfdd;
$border-color-light: #afbabb;
$border-color-dark:#778b8e;

$hiLight1: #ffe05f;
$hiLight2:#f82;

$red:#d11;